<% unless current_user.has_role?(:client) %>

  <% unless @service.is_not_complete? %>
    <% unless @service.is_cancelled? %>
      <% if @service.is_reported? %>
        <div class="link-new-btn">
          <% if @service.is_co_op? && !@service.parent.nil? %>
            <%= form_tag(update_status_after_reported_client_service_path(client_id: @service.parent.client.id, id: @service.parent.id), method: :patch) do -%>
              <%= select_tag "service_status", options_for_select(Service.options_select_after_reported) %>&nbsp;&nbsp;
              <%= submit_tag 'Update' %>
            <% end -%>
          <% else %>
            <%= form_tag(update_status_after_reported_client_service_path(client_id: @client.id, id: @service.id), method: :patch) do -%>
              <%= select_tag "service_status", options_for_select(Service.options_select_after_reported) %>&nbsp;&nbsp;
              <%= submit_tag 'Update' %>
            <% end -%>
          <% end -%>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @service.status == Service.status_unrespond %>
    <div class="link-new-btn">
      <%= link_to("Re-Scheduled", set_reschedule_client_service_path(client_id: @client.id,
        id: @service.id), {class: "btn btn-warning", role: "button"}) %>
    </div>
  <% end %>

  <% if (@service.status == Service.status_confirmed || @service.status == Service.status_inventory_confirmed || @service.status == Service.status_conducted) && @service.report.nil? %>

    <% if @service.is_co_op? && !@service.parent.nil? %>
      <div class="link-new-btn">
          <%= link_to("Create Report", new_report_path(service_id: @service.parent.id),
            {class: "btn btn-success", role: "button"}) %>
      </div>
    <% else %>
      <div class="link-new-btn">
          <%= link_to("Create Report", new_report_path(service_id: @service.id),
            {class: "btn btn-success", role: "button"}) %>
      </div>
    <% end %>

  <% end %>
<% end %>
