<%= form_for [@client, @service], html: {role: "form"} do |f| %>
  
  <div class="form-group">
    <label class="control-label">Client: <%= @client.company_name %></label>
  </div>

  <div class="checkbox" id="checkbox-service" data-service-id="<%= @service.new_record? ? "" : @service.id %>">
    <label>
      <input type="checkbox" id="manual-override"> Default Overwrite
    </label>
  </div>

  <div class="form-group">
    <%= f.label :location_id, "Select Location", {class: "control-label"} %>
    <% if @service.new_record? || current_user.has_role?(:admin) %>
      <%= f.hidden_field :location_id, {class: "select-2-box", data: {
        url: autocomplete_location_name_client_services_path(client_id: @client.id),
        name: (@service.location_id.nil? ? "-" : "#{@service.location.complete_location}"),
        location_id: (@service.location_id.nil? ? "" : "#{@service.location.id}"),
        state: "new"
      }} %>
    <% else %>
      <%= @service.location.name %>
    <% end %>
  </div>  

  <div class="form-group">
    <%= f.label :start_at, {class: "control-label"} %>
    <div class='input-group date dp-service' id='start_at_datetimepicker' data-est-service="<%= DefaultValue.service_hours_est %>" data-date="<%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %>">
      <%= f.text_field :start_at, {class: "form-control", readonly: true, data: {url: generate_select_ba_client_services_path(client_id: @client.id)}} %>
      <% if @service.new_record? || @service.can_rescheduled? || current_user.has_role?(:admin) %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_at, {class: "control-label"} %>
      <div class='input-group date dp-service' id='end_at_datetimepicker' data-date="<%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %>">
        <%= f.text_field :end_at, {class: "form-control", readonly: true} %>
        <% if @service.new_record? || @service.can_rescheduled? || current_user.has_role?(:admin) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        <% end %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :brand_ambassador_id, "Select BA", {class: "control-label"} %>
    <% if @service.new_record? || @service.can_reassign? || current_user.has_role?(:admin) %>
      <div id="select-ba"
        data-id="<%= @service.brand_ambassador_id.nil? ? "" : @service.brand_ambassador_id %>"
        data-action="<%= controller.action_name %>"
        data-old-id="<%= @service.old_id %>"></div>
    <% else %>
      <%= @service.brand_ambassador.name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= check_box_tag("co-op-price-box", true, params["co-op-price-box"]) %>&nbsp;Co-op
  </div>

  <div class="form-group" id="co-op-client-name">
    <label class="control-label">Co-op Client</label>
    <%= f.select(:co_op_client_id, 
      options_from_collection_for_select(@clients, "id", "company_name"), {}, {class: "form-control"}) 
    %>    
  </div>


  <div class="form-group">
    <%= f.label :details, {class: "control-label"} %>
    <%= f.text_area :details, {class: "form-control"} %>
  </div>

  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>
