<%= form_for [@project, @service], html: {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :location_id, "Select Location", {class: "control-label"} %>
    <% if @service.new_record? %>
      <%= f.hidden_field :location_id, {class: "select-2-box", data: { 
        url: autocomplete_location_name_project_services_path(project_id: @project.id),
        name: (@service.location_id.nil? ? "-" : "#{@service.location.complete_location}"),
        location_id: (@service.location_id.nil? ? "" : "#{@service.location.id}"),
        state: "new"
      }} %>
    <% else %>
      <%= @service.location.name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :brand_ambassador_id, "Select BA", {class: "control-label"} %>
    <% if @service.new_record? || @service.can_reassign? %>
      <div id="select-ba" 
        data-id="<%= @service.brand_ambassador_id.nil? ? "" : @service.brand_ambassador_id %>" 
        data-action="<%= controller.action_name %>"
        data-old-id="<%= @service.old_id %>"></div>
    <% else %>
      <%= @service.brand_ambassador.name %>
    <% end %>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" id="manual-override"> Manual override estimation
    </label>
  </div>

  <div class="form-group">
    <%= f.label :start_at, {class: "control-label"} %>    
    <div class='input-group date dp-service' id='start_at_datetimepicker' data-est-service="<%= DefaultValue.service_hours_est %>" data-date="<%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %>">
      <%= f.text_field :start_at, {class: "form-control", readonly: true, data: {url: generate_select_ba_project_services_path(project_id: @project.id)}} %>
      <% if @service.new_record? %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </div>  
  </div>

  <div class="form-group">
    <%= f.label :end_at, {class: "control-label"} %>      
      <div class='input-group date dp-service' id='end_at_datetimepicker' data-date="<%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %>">
        <%= f.text_field :end_at, {class: "form-control", readonly: true} %>
        <% if @service.new_record? %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        <% end %>
      </div>  
  </div>

  <div class="form-group">
    <%= f.label :details, {class: "control-label"} %>
    <%= f.text_area :details, {class: "form-control"} %>
  </div>

  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>