<%= form_for [@client, @service], html: {role: "form"} do |f| %>
  
  <div class="form-group">
    <label class="control-label">Client: <%= @client.company_name %></label>
  </div>

  <div class="checkbox" id="checkbox-service" data-service-id="<%= @service.new_record? ? "" : @service.id %>">
    <label>
      <input type="checkbox" id="manual-override"> Default Overwrite
    </label>
  </div>

  <div class="form-group">
    <%= f.label :location_id, "Select Location", {class: "control-label"} %>
    <% if @service.new_record? || current_user.has_role?(:admin) %>
      <%= f.hidden_field :location_id, {class: "select-2-box", data: {
        url: autocomplete_location_name_client_services_path(client_id: @client.id),
        name: (@service.location_id.nil? ? "-" : "#{@service.location.complete_location}"),
        location_id: (@service.location_id.nil? ? "" : "#{@service.location.id}"),
        state: "new"
      }} %>
      <input id="location_fullname" type="hidden" value="<%= @service.location.name %>">
    <% else %>
      <%= @service.location.name %>
    <% end %>
  </div>    
  
  <div id="location-contact" style="display: none;">
  </div>

  <div class="form-group">
    <%= f.label :start_at, {class: "control-label"} %>
    <div class='input-group date dp-service' id='start_at_datetimepicker' data-est-service="<%= DefaultValue.service_hours_est %>" data-date="<%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %>">
      <%= f.text_field :start_at, {class: "form-control", readonly: true, data: {url: generate_select_ba_client_services_path(client_id: @client.id)}} %>
      <% if @service.new_record? || @service.can_rescheduled? || current_user.has_role?(:admin) %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_at, {class: "control-label"} %>
      <div class='input-group date dp-service' id='end_at_datetimepicker' data-date="<%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %>">
        <%= f.text_field :end_at, {class: "form-control", readonly: true} %>
        <% if @service.new_record? || @service.can_rescheduled? || current_user.has_role?(:admin) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        <% end %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :brand_ambassador_id, "Select BA", {class: "control-label"} %>
    <% if @service.new_record? || @service.can_reassign? || current_user.has_role?(:admin) %>
      <div id="select-ba"
        data-id="<%= @service.brand_ambassador_id.nil? ? "" : @service.brand_ambassador_id %>"
        data-action="<%= controller.action_name %>"
        data-old-id="<%= @service.old_id %>"></div>
    <% else %>
      <%= @service.brand_ambassador.name %>
    <% end %>
  </div>

  <% if !@service.new_record? && @service.is_co_op? %>
    <div class="form-group">
      <label class="control-label">Co-op Client</label>
        <% if @service.co_op_services.empty? %>
          <p>
            <%= @service.parent.client.company_name %>
          </p>
        <% else %>
          <% @service.co_op_services.each do |service| %>
            <p>
              <%= service.company_name %>
            </p>    
          <% end %>
        <% end %>
    </div>
  <% else %>

    <div class="form-group">
      <%= check_box_tag("co-op-price-box", true, params["co-op-price-box"]) %>&nbsp;Co-op
    </div>

    <div class="form-group" id="co-op-client-name">
      <label class="control-label">Co-op Client</label>
      <%= select_tag(:co_op_client_id, options_from_collection_for_select(@clients, "id", "company_name"), {class: "form-control"}) %>    
    </div>

  <% end %>

  <% if @service.new_record? || @service.is_old_service == false %>
    <div class="form-group">
      <%= f.label "Select the products to be demonstrated", {class: "control-label"} %>
      <ul class="list-unstyled">
        <% @client.products.each do |product| %>
          <li>
            <%= check_box_tag("product-#{product.id}", product.id, nil, {class: "product_ids"}) %>
            &nbsp;<%= product.name %>
          </li>
        <% end %>
      </ul>
      <ul class="list-unstyled" id="coop-products-list"></ul>
      <input type="hidden" name="ids-coop-products" id="ids-coop-products" value="[]">
    </div>
  <% end %>


  <div class="form-group">    
    <%= f.label :details, {class: "control-label"} %>
    <%= f.text_area :details, {class: "form-control"} %>
    <%= f.hidden_field :is_old_service, {value: (@service.new_record? ? false : @service.is_old_service)} %>
    <%= f.hidden_field :product_ids %>
  </div>

  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>
