<h1 class="page-header">Show Log</h1>

<div class="row">

  <div class="link-new-btn">
      <%= link_to("Back to Service Logs", client_service_logs_path({client_id: @client.id,service_id: @service.id}), 
        {class: "btn btn-primary", role: "button"}) %>         
  </div>        

  <div class="link-new-btn">
      <%= link_to("Back to Service", client_service_path({client_id: @client.id, id: @service.id}), 
        {class: "btn btn-success", role: "button"}) %>         
  </div>      

  <label>Log Type :</label>
  <p><%= @log.category %></p>

  <label>Changed By :</label>
  <p><%= @log.user.get_info %></p>

  <label>Date Time :</label>
  <p><%= @log.created_at.strftime('%m/%d/%Y - %I:%M %P') %></p>

  <% if @log.status_changed? %>

    <label>Origin Status :</label>
    <p><%= Service.get_status(@log.data["origin"]) %></p>

    <label>Latest Status :</label>
    <p><%= Service.get_status(@log.data["latest"]) %></p>

  <% end %>

  <% if @log.modified_details? %>
      <div class="row">
        <div class="col-md-6">
          <h4>Before Changes</h4>
          <hr />
          <label>Product</label>
          <ul>
            <% Product.find(@log.data["old"]["product_ids"]).each do |product| %>
              <li><%= product.name %></li>
            <% end %>
          </ul>          
          <label>Details</label>
          <p><%= @log.data["old"]["details"] %></p>
        </div>
        <div class="col-md-6">
          <h4>After Changes</h4>
          <hr />
          <label>Product</label>
          <ul>
            <% Product.find(@log.data["new"]["product_ids"]).each do |product| %>
              <li><%= product.name %></li>
            <% end %>
          </ul>
          <label>Details</label>
          <p><%= @log.data["new"]["details"] %></p>          
        </div>
      </div>   
  <% end %>

  <% if @log.modified_main? %>
      <label>Origin Status :</label>
      <p><%= Service.get_status(@log.data["origin"]) %></p>

      <label>Latest Status :</label>
      <p><%= Service.get_status(@log.data["latest"]) %></p>

      <div class="row">        
        <div class="col-md-6">
          <h4>Before Changes</h4>
          <hr />          
      
          <label>Location</label>
          <p><%= Location.find(@log.data["old"]["location_id"]).name %></p>

          <label>Assigned BA</label>
          <p><%= BrandAmbassador.find(@log.data["old"]["brand_ambassador_id"]).name %></p>

          <label>Start Date</label>
          <p><%= DateTime.parse(@log.data["old"]["start_at"]).strftime("%m/%d/%Y %I:%M %p") %></p>

          <label>End Date</label>
          <p><%= DateTime.parse(@log.data["old"]["end_at"]).strftime("%m/%d/%Y %I:%M %p") %></p>

          <label>Product</label>
          <ul>
            <% Product.find(@log.data["old"]["product_ids"]).each do |product| %>
              <li><%= product.name %></li>
            <% end %>
          </ul>          
      
          <label>Details</label>
          <p><%= @log.data["old"]["details"] %></p>
        </div>

        <div class="col-md-6">
          <h4>After Changes</h4>
          <hr />

          <label>Location</label>
          <p><%= Location.find(@log.data["new"]["location_id"]).name %></p>

          <label>Assigned BA</label>
          <p><%= BrandAmbassador.find(@log.data["new"]["brand_ambassador_id"]).name %></p>

          <label>Start Date</label>
          <p><%= DateTime.parse(@log.data["new"]["start_at"]).strftime("%m/%d/%Y %I:%M %p") %></p>

          <label>End Date</label>
          <p><%= DateTime.parse(@log.data["new"]["end_at"]).strftime("%m/%d/%Y %I:%M %p") %></p>
        
          <label>Product</label>
          <ul>
            <% Product.find(@log.data["new"]["product_ids"]).each do |product| %>
              <li><%= product.name %></li>
            <% end %>
          </ul>
         
          <label>Details</label>
          <p><%= @log.data["new"]["details"] %></p>          
        </div>
      </div>   
  <% end %>  

</div>
