<h1 class="page-header">Show Service</h1>

<div class="row">
  <% unless @service.status == 12 %>
    <%= render "available_btn" %>
  <% end %>    

  <label>Status :</label>
  <p><%= @service.current_status %></p>

  <label>Client :</label>
  <p><%= @client.company_name %></p>

  <% if @service.is_co_op? %>
    <label>Co-Op Client :</label>
    <% if @service.co_op_services.empty? %>
      <p>
        <%= link_to @service.parent.client.company_name, client_service_path(client_id: @service.parent.client.id, id: @service.parent.id)  %>
      </p>
    <% else %>
      <% @service.co_op_services.each do |service| %>
        <p>
          <%= link_to service.company_name, client_service_path(client_id: service.client.id, id: service.id)  %>
        </p>
      <% end %>
    <% end %>
  <% end %>


  <label>Location</label>
  <p>Name: <%= @service.location.name %></p>
  <p>Contact: <%= @service.location.contact %></p>
  <p>Phone: <%= @service.location.phone %></p>


  <% if @service.status == 12 %>
    <hr>
    <label>Selected BA</label>
    <p>
      <ul class="list-styled">
        <% BrandAmbassador.find(@service.tbs_data["ba_ids"]).each do |ba| %>
          <li>
            <%= ba.name %>
          </li>
        <% end %>
      </ul>    
    </p>
    <hr>

    <label>First Datetime</label>
    <p>
      <strong>Date: </strong>
      <%= DateTime.parse(@service.tbs_data["first_date"]["start_at"]).strftime("%m/%d/%Y") %>
    </p>
    <p>
      <strong>Start at:</strong>
      <%= DateTime.parse(@service.tbs_data["first_date"]["start_at"]).strftime("%I:%M %p") %>
    </p>
    <p>
      <strong>End at:</strong>
      <%= DateTime.parse(@service.tbs_data["first_date"]["end_at"]).strftime("%I:%M %p") %>
    </p>
    
    <hr>
    <label>Second Datetime</label>
    <p>
      <strong>Date: </strong>
      <%= DateTime.parse(@service.tbs_data["second_date"]["start_at"]).strftime("%m/%d/%Y") %>
    </p>    
    <p>
      <strong>Start at:</strong>
      <%= DateTime.parse(@service.tbs_data["second_date"]["start_at"]).strftime("%I:%M %p") %>
    </p>
    <p>
      <strong>End at:</strong>
      <%= DateTime.parse(@service.tbs_data["second_date"]["end_at"]).strftime("%I:%M %p") %>
    </p>
    <hr>

  <% else %>

    <label>Assigned BA</label>
    <p><%= @service.brand_ambassador.name %></p>

    <label>Start Date</label>
    <p><%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %></p>

    <label>End Date</label>
    <p><%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %></p>

  <% end %>

  <label>Details</label>
  <p><%= @service.details %></p>

  <% if @service.status == 12 %>
    <div class="link-new-btn">
      <%= render "scheduled_btn" %>
    </div>    
  <% else %>
    <div class="link-new-btn">
      <%= render "right_btn" %>
    </div>
  <% end %>
</div>

<% unless @service.tbs_data["request_by_phone"].nil? %>
  <div class="row">

    <h2 class="page-header">Request by phone log</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Person talked</th>
        </tr>
      </thead>
      <tbody>
        <% @service.tbs_data["request_by_phone"].each do |data|  %>
        <tr>
          <td><%= DateTime.parse(data["datetime"]).strftime("%m/%d/%Y")%></td>
          <td><%= DateTime.parse(data["datetime"]).strftime("%I:%M %p")%></td>
          <td><%= data["name"] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= render "inventory_form" %>

<div class="row">

  <h2 class="page-header">Logs</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Who</th>
        <th>What</th>
        <th>Status</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% @service.logs.each_with_index do |log, i|  %>
      <tr>
        <td><%= log.created_at.strftime('%m/%d/%Y') %></td>
        <td><%= log.created_at.strftime('%I:%M %P') %></td>
        <td><%= log.user.get_info %></td>
        <td><%= log.what %></td>
        <td><%= log.status %></td>
        <td><%= log.comments.html_safe %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
