<h1 class="page-header">Show Service</h1>

<div class="row">
<% unless current_user.has_role?(:client) %>
  
  <% unless @service.is_not_complete? %>
    <!-- <div class="link-new-btn"> -->
      <%#= link_to("Set as Conducted", mark_service_as_complete_client_service_path(client_id: @client.id,
        id: @service.id), {class: "btn btn-primary", role: "button"}) %>
    <!-- </div> -->
  <%# else %>    
    <% unless @service.is_cancelled? %>
      <% if @service.is_reported? %>
        <div class="link-new-btn">
          <% if @service.is_co_op? && !@service.parent.nil? %>
            <%= form_tag(update_status_after_reported_client_service_path(client_id: @service.parent.client.id, id: @service.parent.id), method: :patch) do -%>
              <%= select_tag "service_status", options_for_select(Service.options_select_after_reported) %>&nbsp;&nbsp;
              <%= submit_tag 'Update' %>
            <% end -%>
          <% else %>
            <%= form_tag(update_status_after_reported_client_service_path(client_id: @client.id, id: @service.id), method: :patch) do -%>
              <%= select_tag "service_status", options_for_select(Service.options_select_after_reported) %>&nbsp;&nbsp;
              <%= submit_tag 'Update' %>
            <% end -%>          
          <% end -%>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @service.status == Service.status_unrespond %>
    <div class="link-new-btn">
      <%= link_to("Re-Scheduled", set_reschedule_client_service_path(client_id: @client.id,
        id: @service.id), {class: "btn btn-warning", role: "button"}) %>
    </div>  
  <% end %>

  <% if (@service.status == Service.status_confirmed || @service.status == Service.status_conducted) && @service.report.nil? %>

    <% if @service.is_co_op? && !@service.parent.nil? %>
      <div class="link-new-btn">
          <%= link_to("Create Report", new_report_path(service_id: @service.parent.id), 
            {class: "btn btn-success", role: "button"}) %>         
      </div>      
    <% else %>
      <div class="link-new-btn">
          <%= link_to("Create Report", new_report_path(service_id: @service.id), 
            {class: "btn btn-success", role: "button"}) %>         
      </div>  
    <% end %>

  <% end %>
<% end %>     

<label>Status :</label>
<p><%= @service.current_status %></p>

<label>Client :</label>
<p><%= @client.company_name %></p>

<% if @service.is_co_op? %>
  <label>Co-Op Client :</label>
  <% if @service.co_op_services.empty? %>
    <p>
      <%= link_to @service.parent.client.company_name, client_service_path(client_id: @service.parent.client.id, id: @service.parent.id)  %>
    </p>
  <% else %>
    <% @service.co_op_services.each do |service| %>
      <p>
        <%= link_to service.company_name, client_service_path(client_id: service.client.id, id: service.id)  %>
      </p>    
    <% end %>
  <% end %>
<% end %>


<label>Location</label>
<p>Name: <%= @service.location.name %></p>
<p>Contact: <%= @service.location.contact %></p>
<p>Phone: <%= @service.location.phone %></p>

<label>Assigned BA</label>
<p><%= @service.brand_ambassador.name %></p>

<label>Start Date</label>
<p><%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %></p>

<label>End Date</label>
<p><%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %></p>

<label>Details</label>
<p><%= @service.details %></p>

<% unless current_user.has_role?(:client) %>
  <div class="link-new-btn">
    <%= link_to("Back", (params[:report].nil? ? client_path(@client) : reports_path), {class: "btn btn-primary", role: "button"}) %>

    <% if @service.is_co_op? && !@service.parent.nil? %>

      <% if @service.parent.can_modify?  || current_user.has_role?(:admin) %>
        <%= link_to("Edit", edit_client_service_path(client_id: @service.parent.client.id, id: @service.parent.id), {class: "btn btn-default", role: "button"}) %>
      <% end %>
      
      <%= link_to("Cancel", client_service_path(client_id: @client.id, id: @service.parent.id), {class: "btn btn-danger", role: "button", data: { confirm: "Are you sure want to cancel this service?" }, :method => :delete}) %>              
    <% else %>

      <% if @service.can_modify?  || current_user.has_role?(:admin) %>
        <%= link_to("Edit", edit_client_service_path(client_id: @client.id, id: @service.id), {class: "btn btn-default", role: "button"}) %>
      <% end %>
      
      <%= link_to("Cancel", client_service_path(client_id: @client.id, id: @service.id), {class: "btn btn-danger", role: "button", data: { confirm: "Are you sure want to cancel this service?" }, :method => :delete}) %>    

    <% end %>

  </div>
<% end %>     
</div>

<% unless @service.is_old_service %>
  <hr />
  <%= form_tag(confirm_inventory_client_services_path, {method: :post, id: "form-invoice"} ) do %>
    <div class="row">
      <div class="col-md-6">
        <label>Select the products to be demonstrated</label>
        <ul class="list-unstyled">
          <% @client.products.each do |product| %>
            <li>
              <%= check_box_tag("product-#{product.id}", product.id, nil, {class: "product_ids"}) %>
              &nbsp;<%= product.name %>
            </li>
          <% end %>
        </ul>  
        <%= hidden_field_tag "service_id", @service.id %>
        <%= hidden_field_tag "client_id", @client.id %>
        <%= hidden_field_tag "service[product_ids]", @service.product_ids.to_s, {id: "service_product_ids"} %>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Inventory Confirmed</label>
          <div class="radio">
            <label>
              <%= radio_button_tag 'service[inventory_confirm]', true, (@service.inventory_confirm == true ? true : false) %>
              Yes
            </label>
          </div>
          
          <div class="radio">
            <label>
              <%= radio_button_tag 'service[inventory_confirm]', false, (@service.inventory_confirm == false ? true : false) %>
              No
            </label>
          </div>            
        </div>    

        <div class="form-group">
          <label class="control-label">Inventory Confirmed Date</label>
          <%= text_field_tag "service[inventory_date]", (@service.inventory_date.nil? ? nil : @service.inventory_date.strftime('%m/%d/%Y')), {class: "form-control", placeholder: "Confirmed Date", required: "true", id: "inventory-confirmed-date"} %>
        </div>        

        <div class="form-group">
          <label class="control-label">Name of the Location's Contact who confirmed</label>
          <%= text_field_tag "service[inventory_confirmed]", @service.inventory_confirmed, {class: "form-control", placeholder: "Who Confirmed", required: "true"} %>      
        </div>    
        <div class="form-group">
          <%= submit_tag("Confirm", class: "btn btn-primary") %>    
        </div>    
      </div>
    </div>  
  <% end %>
<% end %>
