<h1 class="page-header">Show Service</h1>

<% if @project.is_not_complete? %>
  <% if @service.is_not_complete? %>
    <div class="link-new-btn">
      <%= link_to("Set as Conducted", mark_service_as_complete_project_service_path(project_id: @project.id,
        id: @service.id), {class: "btn btn-primary", role: "button"}) %>
    </div>
  <% else %>
    <% unless @service.is_cancelled? %>
      <% if @service.is_reported? %>
        <div class="link-new-btn">
          <%= form_tag(update_status_after_reported_project_service_path(project_id: @project.id, id: @service.id), method: :patch) do -%>
            <%= select_tag "service_status", options_for_select(Service.options_select_after_reported) %>&nbsp;&nbsp;
            <%= submit_tag 'Update' %>
          <% end -%>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<label>Status :</label>
<p><%= @service.current_status %></p>

<label>Client :</label>
<p><%= @project.client.company_name %></p>

<label>Project Name :</label>
<p><%= @project.name %></p>

<label>Location</label>
<p><%= @service.location.name %></p>

<label>Assigned BA</label>
<p><%= @service.brand_ambassador.name %></p>

<label>Start Date</label>
<p><%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %></p>

<label>End Date</label>
<p><%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %></p>

<label>Details</label>
<p><%= @service.details %></p>

<div class="link-new-btn">
  <%= link_to("Back", (params[:report].nil? ? project_path(@project) : reports_path), {class: "btn btn-primary", role: "button"}) %>

  <% if @project.is_not_complete? %>
    <% if @service.can_modify? %>
      <%= link_to("Edit", edit_project_service_path(project_id: @project.id, id: @service.id), {class: "btn btn-default", role: "button"}) %>

      <%= link_to("Cancel", project_service_path(project_id: @project.id, id: @service.id), {class: "btn btn-danger", role: "button", data: { confirm: "Are you sure want to cancel this service?" }, :method => :delete}) %>
    <% end %>
  <% end %>

</div>
