<h1 class="page-header">Show Service</h1>

<div class="row">
  <% unless @service.status == 12 %>
    <%= render "available_btn" %>
  <% end %>    

  <label>Status :</label>
  <p><%= @service.current_status %></p>

  <label>Client :</label>
  <p><%= @client.company_name %></p>

  <% if @service.is_co_op? %>
    <label>Co-Op Client :</label>
    <% if @service.co_op_services.empty? %>
      <p>
        <%= link_to @service.parent.client.company_name, client_service_path(client_id: @service.parent.client.id, id: @service.parent.id)  %>
      </p>
    <% else %>
      <% @service.co_op_services.each do |service| %>
        <p>
          <%= link_to service.company_name, client_service_path(client_id: service.client.id, id: service.id)  %>
        </p>
      <% end %>
    <% end %>
  <% end %>


  <label>Location</label>
  <p>Name: <%= @service.location.name %></p>
  <p>Contact: <%= @service.location.contact %></p>
  <p>Phone: <%= @service.location.phone %></p>


  <% if @service.status == 12 || @service.is_tbs_before? %>
    <hr>
    <label>Selected BA</label>
    <p>
      <ul class="list-styled">
        <% BrandAmbassador.find(@service.tbs_data["ba_ids"]).each do |ba| %>
          <li>
            <%= ba.name %>
          </li>
        <% end %>
      </ul>    
    </p>
    <hr>

    <label>First Datetime</label>
    <p>
      <strong>Date: </strong>
      <%= @service.tbs_datetime("first_date", "start_at", "%m/%d/%Y") %>
    </p>
    <p>
      <strong>Start at:</strong>
      <%= @service.tbs_datetime("first_date", "start_at", "%I:%M %p") %>
    </p>
    <p>
      <strong>End at:</strong>
      <%= @service.tbs_datetime("first_date", "end_at", "%I:%M %p") %>
    </p>
    
    <hr>
    <label>Second Datetime</label>
    <p>
      <strong>Date: </strong>
      <%= @service.tbs_datetime("second_date", "start_at", "%m/%d/%Y") %>
    </p>
    <p>
      <strong>Start at:</strong>
      <%= @service.tbs_datetime("second_date", "start_at", "%I:%M %p") %>
    </p>
    <p>
      <strong>End at:</strong>
      <%= @service.tbs_datetime("second_date", "end_at", "%I:%M %p") %>
    </p>
    <hr>

  <% else %>

    <label>Assigned BA</label>
    <p><%= @service.brand_ambassador.name %></p>

    <label>Start Date</label>
    <p><%= @service.start_at.nil? ? "" : @service.start_at.strftime("%m/%d/%Y %I:%M %p") %></p>

    <label>End Date</label>
    <p><%= @service.end_at.nil? ? "" : @service.end_at.strftime("%m/%d/%Y %I:%M %p") %></p>

  <% end %>

  <label>Details</label>
  <p><%= @service.details %></p>

  <% if @service.status == 12 %>
    <div class="link-new-btn">
      <%= render "scheduled_btn" %>
    </div>    
  <% else %>
    <div class="link-new-btn">
      <%= render "right_btn" %>
    </div>
  <% end %>
</div>

<%= render "inventory_form" %>

<div class="row">

  <h2 class="page-header">Logs</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Who</th>
        <th>What</th>
        <th>Status</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% @service.logs.each_with_index do |log, i|  %>
      <tr>
        <td><%= log.created_at.strftime('%m/%d/%Y') %></td>
        <td><%= log.created_at.strftime('%I:%M %P') %></td>
        <td><%= log.user.get_info %></td>
        <td><%= log.what %></td>
        <td><%= log.status %></td>
        <td><%= log.comments.html_safe %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div id="view-email-log-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">
          Email Content
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">    
          <label class="control-label">Date Sent</label>
          <p id="view-email-log-date"></p>
        </div>

        <div class="form-group">    
          <label class="control-label">Subject</label>
          <p id="view-email-log-subject"></p>
        </div>

        <div class="form-group">    
          <label class="control-label">Content</label>
          <p id="view-email-log-content"></p>
        </div>          
      </div>
    </div>
  </div>
</div>