<h1 class="page-header">New Report</h1>

<div class="row">
  <div class="row report">
    <div id="report-client" class="report-left">
      <span class="report-title">Client</span>: 
      <span class="report-option-details"><%= @service.project.client.name %></span>
    </div>

    <div id="report-project">
      <span class="report-title">Project</span>: 
      <span class="report-option-details"><%= @service.project.name %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-ba" class="report-left">
      <span class="report-title">Name of BA</span>: 
      <span class="report-option-details"><%= @service.brand_ambassador.name %></span>
    </div>

    <div id="report-location">
      <span class="report-title">Location</span>: 
      <span class="report-option-details"><%= @service.location.complete_location %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-date">
      <span class="report-title">Date/Time</span>: 
      <span class="report-option-details">
        <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
      </span>
    </div>
  </div>

  <div class="row report">
    <div id="report-demo-in-store">
      <span class="report-title">Location of demo in store</span>: Sed aliquam ultrices mauris.
    </div>
  </div>

  <div class="row report">
    <div id="report-weather" class="report-left">
      <span class="report-title">Weather</span>: 
      <span class="report-weather-traffic">Sed aliquam ultrices mauris.</span>
    </div>

    <div id="report-traffic">
      <span class="report-title">Traffic busy/moderate/slow</span>: 
      <span class="report-weather-traffic">Sed aliquam ultrices mauris.</span>
    </div>
  </div>

  <div class="row report">
    <div id="report-busiest-hours" class="report-left">
      <span class="report-title">Busiest hours of demo</span>: Sed aliquam ultrices mauris.
    </div>

    <div id="report-products">
      <span class="report-title">Product(s)</span>: Sed aliquam ultrices mauris.
    </div>
  </div>

  <div class="row report">
    <div id="report-price-comment">
      <span class="report-title">Price 1.99 comment</span>: Sed aliquam ultrices mauris.
    </div>
  </div>

  <div class="row report">
    <div id="report-sample-units-use">
      <span class="report-title">Sample units use</span>: Sed aliquam ultrices mauris.
    </div>
  </div>  
</div>

<%= link_to "Download as PDF", download_pdf_assignment_path(id: @service.id), {class: "btn btn-primary", role: "button"} %>