<table id="table-data" class="table table-striped">
  <thead>
    <tr>
      <th>Client Name</th>
      <th><%= sortable "issue_date", "Invoice Date" %></th>
      <th>Grand Total</th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th>Amount Rec</th>
      <th>Data Rec</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each_with_index do |invoice, i|  %>      
      <tr>
          <td><%= invoice.client.company_name %></td>
          <td><%= invoice.issue_date.nil? ? invoice.created_at.strftime('%m/%d/%Y') : invoice.issue_date.strftime('%m/%d/%Y') %></td>      
          <td>
            <%= invoice.is_paid_match? ? number_to_currency(invoice.grand_total_all) : content_tag(:strong, number_to_currency(invoice.grand_total_all)) %>   
          </td> 
          <td><%= invoice.due_date.nil? ? "-" : invoice.due_date.strftime('%m/%d/%Y') %></td>            
          <td>
            <% if invoice.amount_received.nil? %> 
              <%= "-" %>
            <% else %>
              <%= invoice.is_paid_match? ? number_to_currency(invoice.amount_received) : content_tag(:strong, number_to_currency(invoice.amount_received)) %>
            <% end %>
          </td>
          <td>
            <%= invoice.date_received.nil? ? "-" : invoice.date_received.strftime('%m/%d/%Y') %>
          </td>          
          <td></td>
          <td><%= link_to("Show Invoice", invoice_path(invoice), class: "btn btn-primary" ) %></td> 
      </tr>      
    <% end %>
  </tbody>
</table>
