<table id="table-data" class="table table-striped">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Invoice Number</th>
      <th><%= sortable "issue_date", "Invoice Date" %></th>
      <th>Grand Total</th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each_with_index do |invoice, i|  %>      
      <tr>        
          <td><%= invoice.client.company_name %></td>
          <td><%= invoice.number %></td>
          <td><%= invoice.issue_date.nil? ? invoice.created_at.strftime('%m/%d/%Y') : invoice.issue_date.strftime('%m/%d/%Y') %></td>      
          <td>
            <%= number_to_currency invoice.grand_total_all %>                    
          </td> 
          <td><%= invoice.due_date.nil? ? "-" : invoice.due_date.strftime('%m/%d/%Y') %></td>            
          <td>
            <%= form_tag(update_paid_invoice_path(invoice), {method: :patch, id: "form-invoice"} ) do %>
              <%= text_field(:invoice, :amount_received, {pattern: '[-+]?[0-9]*[.,]?[0-9]+', class: "form-control amount-received", id: "amount_received_#{invoice.id}", placeholder: "Amount Rec"}) if current_user.has_role?(:admin) %>
              <%= text_field(:invoice, :date_received, {class: "date-received-invoice form-control", id: "date_received_#{invoice.id}", placeholder: "Data Rec"}) if current_user.has_role?(:admin) %>
              <%= submit_tag("Update Invoice to Paid", {class: "btn btn-primary update-invoice", data: {id: invoice.id}}) %>
            <% end  %>
          </td>
          <td>
            <%= link_to("Edit Invoice", edit_invoice_path(invoice), class: "btn btn-primary" ) %>
            <%= link_to("Show Invoice", invoice_path(invoice), class: "btn btn-primary" ) %>
          </td>         
      </tr>      
    <% end %>
    <tr>
      <td><strong>Grand Total</strong></td>
      <td></td>
      <td></td>
      <td style="float: right"></td>
      <td></td>
      <td></td>
      <td>
        <strong><%= number_to_currency(@invoices.collect(&:grand_total).sum) %></strong>
      </td>
    </tr>
  </tbody>
</table>
