<%= form_tag(new_invoices_path, method: :post, id: "filter-data") do %>
  <table id="table-data" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= sortable "start_at", "Date" %></th>
        <th><%= sortable "time", "Time" %></th>
        <th>Location</th>
        <th>Demo Rate</th>
        <th>Expenses</th>
        <th>Travel Expense</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @services.each_with_index do |service, i|  %>
      <tr>
        <td>
          <%= 
            check_box_tag("service_ids[]", service.id, false, 
            {class: 'reconcile-checkbox', data: {total: service.grand_total}}) if @filter
          %>
        </td>
        <td><%= service.start_at.strftime('%m/%d/%Y') %></td>
        <td><%= service.start_at.strftime("%I:%M %p") %></td>
        <td><%= service.location.name %></td> 
        <td><%= number_to_currency((service.client.nil? ? "" : service.client.rate)) %></td> 
        
        <td><%= service.report_service.nil? ? "-" : number_to_currency(service.report_service.expense_one) %></td>

        <td><%= service.brand_ambassador.mileage ? (service.report_service.nil? ? "we" : number_to_currency(service.report_service.travel_expense)) : "-" %></td>
        
        <td><%= link_to("Show Report", report_path(service.report_service)) unless service.report_service.nil? %></td> 

      </tr>
      <% end %>
    </tbody>
  </table>

  <% if @filter %>
    <div class="link-new-btn">
      <span>Grand Total :</span>
      <span id="reconcile-grand-total">0</span>
    </div>
    <%= hidden_field_tag("client_id", @client_id) %>
    <br /><br />
    <div class="link-new-btn">
      <%= submit_tag("Create Invoice", class: "btn btn-primary") %>
    </div>
  <% end %>
<% end %>