<style type="text/css">
@media print
{
  .no-print { visibility: hidden; }
  .no-print { display: none; }
}
</style>
<h1 class="page-header">Show Client</h1>

<div class="row no-print">
  <div class="col-md-3">
    <label>Company Name :</label>
    <p><%= @client.company_name %></p>
  </div>

  <div class="col-md-3">
    <label>Name :</label>
    <p><%= @client.name %></p>
  </div>

  <div class="col-md-3">
    <label>Status :</label><br />
    <%= link_to (@client.is_active ? "Deactivate" : "Reactivate"), client_path(@client), {class: "btn btn-primary", role: "button", data: { confirm: "Are you sure?" }, :method => :delete} %>
  </div>

  <div class="col-md-3">
    <label>Login :</label><br />
    <%= link_to("Login as Client", logged_as_client_path(@client), {class: "btn btn-primary", role: "button", :method => :delete}) %>
  </div>

  <div class="col-md-3">
    <label>Export :</label><br />
    <%= link_to("Export", "#", {id: "print_calendar_as_pdf",class: "btn btn-primary", role: "button"}) %>
  </div>

</div>


<h2 class="sub-header no-print">Services</h2> 

<div class="link-new-btn no-print"><%= link_to("New Service", new_client_service_path(@client), {class: "btn btn-primary", role: "button"}) %></div>

<div id="calendar-and-legend">  
  <div id="colour-legend" class="no-print">
    <div class="scheduled">Scheduled</div>
    <div class="confirmed">Confirmed</div>
    <div class="rejected">Rejected</div>
    <div class="conducted">Conducted</div>
    <div class="unrespond">Unrespond</div>
    <div class="reported">Reported</div>
    <div class="paid">Paid</div>
    <div class="ba-paid">BA Paid</div>
    <div class="cancelled">Cancelled</div>
  </div>
  <div id="calendar" data-url="<%= client_services_path(@client) %>"></div>
</div>
<%= form_tag(export_calendar_client_path(@client), method: :post, remote: false, id: "export-calendar") do %>
<%= hidden_field_tag(:dataurl) %>
<% end %>