<h1 class="page-header">Show Client</h1>
<label>Company Name :</label>
<p><%= @client.company_name %></p>

<label>Name :</label>
<p><%= @client.title %>, <%= @client.name %></p>

<label>Billing Name :</label>
<p><%= @client.billing_name %></p>


<label>Billing Address :</label>
<p><%= @client.billing_address %></p>
