<h1 class="page-header">Show Client</h1>
<label>Company Name :</label>
<p><%= @client.company_name %></p>

<label>Name :</label>
<p><%= @client.name %></p>

<label>Billing Name :</label>
<p><%= @client.billing_name %></p>


<label>Billing Address :</label>
<p><%= @client.billing_address %></p>

<h3 class="sub-header">List Projects</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Project Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @client.projects.each_with_index do |project, i|  %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= project.name %></td>
        <td>
          <%= link_to "Show", project_path(project) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>