<h1 class="page-header">List BA Statements</h1>
<div class="link-new-btn">
  <%= link_to("Export Statements", "#", {id: "export-statement" ,class: "btn btn-primary"}) %>
</div>
<div class="table-responsive">
  <%= render "table" %>
</div>


<%= form_tag(brand_ambassador_statements_path(brand_ambassador_id: @brand_ambassador.id), method: :get, remote: true, id: "filter-data") do %>
  <%= hidden_field_tag(:page, 1) %>
<% end %>

<%= form_tag(export_data_brand_ambassador_statements_path(brand_ambassador_id: @brand_ambassador.id), method: :post, id: "export-data-statement") do %>
  <%#= hidden_field_tag(:loc_ids) %>
  <%#= hidden_field_tag(:loc_status) %>
<% end %>
