<h1 class="page-header">Show BA</h1>
<label>Name :</label>
<p><%= @brand_ambassador.name %></p>

<label>Email :</label>
<p><%= @brand_ambassador.email %></p>

<label>Phone :</label>
<p><%= @brand_ambassador.phone %></p>

<label>Address :</label>
<p><%= @brand_ambassador.address %></p>

<label>Grade :</label>
<p><%= @brand_ambassador.grade %></p>

<label>Rate :</label>
<p><%= @brand_ambassador.rate %></p>

<label>Mileage :</label>
<p><%= @brand_ambassador.mileage_choice %></p>