<h1 class="page-header">Show BA</h1>
<div class="link-new-btn">
  <%= link_to("Login as BA", logged_as_brand_ambassador_path(@brand_ambassador), {class: "btn btn-primary", role: "button", :method => :delete}) %>
</div>
<label>Name :</label>
<p><%= @brand_ambassador.name %></p>

<label>Email :</label>
<p><%= @brand_ambassador.email %></p>

<label>Phone :</label>
<p><%= @brand_ambassador.phone %></p>

<label>Address :</label>
<p><%= @brand_ambassador.address %></p>

<label>Grade :</label>
<p><%= @brand_ambassador.grade %></p>

<label>Rate :</label>
<p><%= @brand_ambassador.rate %></p>

<label>Mileage :</label>
<p><%= @brand_ambassador.mileage_choice %></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Statements
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Total Paid</th>
                <th>Expenses</th>
                <th>Additonal Items</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @statements.each_with_index do |statement, i|  %>
              <tr>
                <td><%= statement.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= number_to_currency statement.grand_total %></td>
                <td><%= number_to_currency statement.totals_expenses %></td>
                <% if statement.line_items.blank? %>
                  <td>-</td>
                <% else %>
                  <td>
                    <% statement.line_items.each do |item| %>
                      <ul>
                        <li>
                          <%= item["desc"] %> - <%= item["reduction"] == "true" ? "(#{number_to_currency item["amount"]})" : "#{number_to_currency item["amount"]}" %>
                        </li>
                      </ul>
                    <% end %>
                  </td>
                <% end %>
                <td><%= link_to "Show", brand_ambassador_statement_path(brand_ambassador_id: statement.brand_ambassador.id, id: statement.id) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Locations
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="link-new-btn">
          <%= link_to("Add Location", new_location_brand_ambassador_path(id: @brand_ambassador.id), {class: "btn btn-primary", role: "button"}) %>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @brand_ambassador.locations.each_with_index do |location, i|  %>
            <tr>
              <td><%= location.id %></td>
              <td><%= location.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
