<h1 class="page-header">Show BA</h1>
  <div class="link-new-btn">
    <%= link_to("Login as BA", logged_as_brand_ambassador_path(@brand_ambassador), {class: "btn btn-primary", role: "button", :method => :delete}) %>
  </div>
<label>Name :</label>
<p><%= @brand_ambassador.name %></p>

<label>Email :</label>
<p><%= @brand_ambassador.email %></p>

<label>Phone :</label>
<p><%= @brand_ambassador.phone %></p>

<label>Address :</label>
<p><%= @brand_ambassador.address %></p>

<label>Grade :</label>
<p><%= @brand_ambassador.grade %></p>

<label>Rate :</label>
<p><%= @brand_ambassador.rate %></p>

<label>Mileage :</label>
<p><%= @brand_ambassador.mileage_choice %></p>


<div class="link-new-btn">
  <%= link_to("Add Location", new_location_brand_ambassador_path(id: @brand_ambassador.id), {class: "btn btn-primary", role: "button"}) %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @brand_ambassador.locations.each_with_index do |location, i|  %>
    <tr>
      <td><%= location.id %></td>
      <td><%= location.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
