<%= form_for @project, html: {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :client_id, "Choose Client", {class: "control-label"} %>
    <%= f.select :client_id, Client.all.collect{|x| [x.name, x.id] }, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :name, {class: "control-label"} %>
    <%= f.text_field :name, {class: "form-control", placeholder: "Name"} %>
  </div>

  <div class="form-group">
    <%= f.label :descriptions, {class: "control-label"} %>
    <%= f.text_field :descriptions, {class: "form-control", placeholder: "Address"} %>
  </div>

  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>