<h1 class="page-header">Edit Default Values</h1>
<%= form_for @default_value, html: {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :rate_project, {class: "control-label"} %>
    <%= f.number_field :rate_project, {class: "form-control"} %>
  </div>  

  <div class="form-group">
    <%= f.label :traffic, {class: "control-label"} %>
    <%= f.text_field :traffic, {class: "form-control"} %>
  </div>  

  <div class="form-group">
    <%= f.label :sample_product, {class: "control-label"} %>
    <%= f.text_field :sample_product, {class: "form-control"} %>
  </div>    

  <div class="form-group">
    <%= f.label :service_hours_est, {class: "control-label"} %>
    <%= f.number_field :service_hours_est, {class: "form-control"} %>
  </div>      

  <div class="form-group">
    <%= f.label :send_unrespond, {class: "control-label"} %>
    <%= f.number_field :send_unrespond, {class: "form-control"} %>
  </div>      
  

  <%= f.button "Submit", {type: "submit", class: "btn btn-default"} %>
<% end %>
