<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3">
    <%= form_tag(reports_path, method: :get, remote: true, html: {role: "form"}) do %>
      <div class="form-group">
        <label class="control-label">Completed</label>
        <%= select_tag("completed", options_for_select(["Yes"]), {class: "form-control", :include_blank => true}) %>
      </div>      
      <% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
        <div class="form-group">
          <label class="control-label">Assigned To</label>
          <%= select_tag("assigned_to", options_from_collection_for_select(@brand_ambassadors, "id", "name"), {class: "form-control", :include_blank => true}) %>
        </div>      
      <% else %>
        <%= hidden_field_tag "assigned_to", current_user.brand_ambassador.id %>
      <% end %>
      <div class="form-group">
        <label class="control-label">Client Name</label>
        <%= text_field_tag("client_name", nil, {class: "form-control"}) %>
      </div>             
      <%= submit_tag("Filter", class: "btn btn-default") %>               
      <%= link_to("Export CSV", "#", {id: "export-csv" ,class: "btn btn-primary", role: "button"}) %>
    <% end %>
  </div>
</div>
<hr>