<%= form_for @report, html: {role: "form", style: "margin: 35px;", "multipart" => true} do |f| %>
  <%= f.hidden_field(:service_id) %>
  <div class="row">    
    
    <% unless @service.is_co_op? %>
      <div class="row report">
        <div id="report-client" class="report-left">
          <span class="report-title">Client</span>: 
          <span class="report-option-details"><%= @service.company_name %></span>
        </div>
      </div>
    <% end %>

    <div class="row report">
      <div id="report-ba" class="report-left">
        <span class="report-title">Name of BA</span>: 
        <span class="report-option-details"><%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %></span>
      </div>

      <div id="report-location">
        <span class="report-title">Location</span>: 
        <span class="report-option-details"><%= @service.location.complete_location %></span>
      </div>
    </div>

    <div class="row report">
      <div id="report-date">
        <span class="report-title">Date/Time</span>: 
        <span class="report-option-details">
          <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
        </span>
      </div>
    </div>

    <div class="row report">
      <div id="report-demo-in-store">
        <span class="report-title">Location of demo in store</span>:
        <%= f.text_field(:demo_in_store) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-weather" class="report-left">
        <span class="report-title">Weather</span>: 
        <%= f.text_field(:weather) %>
      </div>

      <div id="report-traffic">
        <span class="report-title">Traffic</span>: 
        <%= f.select(:traffic, DefaultValue.traffic) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-busiest-hours" class="report-left">
        <span class="report-title">Busiest hours of demo</span>:
        <%= f.text_field(:busiest_hours) %>
      </div>
    </div>

    <% if @service.is_co_op? %>
      <br /><br /><br />
        <div class="row report">
          <div id="report-client" class="report-left">
            <span class="report-title">Client</span>: 
            <span class="report-option-details"><%= @service.company_name %></span>
          </div>
        </div>
    <% end %>

      <div class="link-new-btn">
        <%= link_to("Add Product", "#", {class: "btn btn-primary", role: "button", id: "add-product-report"}) %>
      </div>  
      <div class="row report">
        <div id="report-product" class="table-responsive" data-new="<%= @report.new_record? %>" data-size="<%= @service.client.products.size %>">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th><span class="report-title">Price</span></th>
                <th><span class="report-title">Sample</span></th>
                <th><span class="report-title">Beginning</span></th>
                <th><span class="report-title">End</span></th>
                <th><span class="report-title">Sold</span></th>
              </tr>
            </thead>
            <tbody id="row-products">  
              <% if @report.new_record? || !@report.client_products.nil? %>
                <%= render "client_products", f: f, client: @service.client %>
              <% else %>
                <%= render "products", f: f %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% if @service.is_co_op? %>
        <div class="row report">
          <div id="report-client" class="report-left">
            <span class="report-title">Co-op Client </span>: 
            <span class="report-option-details"><%= @service.co_op_client.company_name %></span>
          </div>
        </div>      

        <div class="link-new-btn">
          <%= link_to("Add Product", "#add-product-coop-report", {class: "btn btn-primary", role: "button", id: "add-product-coop-report"}) %>
        </div>  
        <div class="row report">
          <div id="report-coop-product" class="table-responsive" data-new="<%= @report.new_record? %>" data-size="<%= @service.co_op_client.products.size %>">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th><span class="report-title">Price</span></th>
                  <th><span class="report-title">Sample</span></th>
                  <th><span class="report-title">Beginning</span></th>
                  <th><span class="report-title">End</span></th>
                  <th><span class="report-title">Sold</span></th>
                </tr>
              </thead>
              <tbody id="row-coop-products">  
                <%= render "client_coop_products", f: f, client: @service.co_op_client %>
              </tbody>
            </table>
          </div>
        </div>      
    <% end %>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Sample product</span>:
        <%= f.select(:sample_product, DefaultValue.sample_product) %>
      </div>
    </div>    

    <div class="row report">
      <div id="report-est-customer-touched" class="report-left">
        <span class="report-title">Estimated # of customers touched</span>: 
        <%= f.text_field(:est_customer_touched, {style: "width: 35px;", required: "required", pattern: "[-+]?[0-9]*[.,]?[0-9]+"}) %>
      </div>

      <div id="report-est-sample-given">
        <span class="report-title">Estimated # of sample given</span>: 
        <%= f.text_field(:est_sample_given, {style: "width: 35px;"}) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Expense</span>:<br />
        <%= f.text_field(:expense_one) %>
        <br /><br />
        <%#= f.file_field(:expense_one_img) %>
        <input class="fileupload" type="file" name="files[]" data-url="/reports/upload/expense" multiple>
        <div id="preview-image-expense">
          <% unless @report.new_record? %>
            <% @report.report_expense_images.each do |img| %>              
              <span id='<%= "expense-#{img.id}" %>'>
              <br />
              <%= image_tag img.file.url, style: 'width:300px;height:auto' %>
              <input type='hidden' name='image-expense[]' value='<%= img.id %>' />&nbsp;&nbsp;
              <a href='#<%= "expense-#{img.id}" %>' class='remove-report-image' data-id='<%= "expense-#{img.id}" %>' data-url='/reports/delete_upload/expense/<%= img.id %>'>remove</a>
              <br />
              </span>
            <% end %>       
          <% end %>
        </div>        
      </div>
    </div>  
    

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Customer Comments</span>:<br />
        <%= f.text_area(:customer_comments, cols: 100, rows: 10) %>
      </div>
    </div>      

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">BA Comments</span>:<br />
        <%= f.text_area(:ba_comments, cols: 100, rows: 10) %>
      </div>
    </div>     

    <div class="row report">
      <div id="report-attach-table">
        <span class="report-title">Attach Table Image</span>:<br /><br />
        <%#= f.file_field(:table_image_one_img) %>
        <%#= f.file_field(:table_image_two_img) %>
        <input class="fileupload" type="file" name="files[]" data-url="/reports/upload/table" multiple>
        <div id="preview-image-table">
          <% unless @report.new_record? %>
            <% @report.report_table_images.each do |img| %>              
              <span id='<%= "table-#{img.id}" %>'>
              <br />
              <%= image_tag img.file.url, style: 'width:300px;height:auto' %>
              <input type='hidden' name='image-table[]' value='<%= img.id %>' />&nbsp;&nbsp;
              <a href='#<%= "table-#{img.id}" %>' class='remove-report-image' data-id='<%= "table-#{img.id}" %>' data-url='/reports/delete_upload/table/<%= img.id %>'>remove</a>
              <br />
              </span>
            <% end %>       
          <% end %>          
        </div>
      </div>
    </div>         

    <% if @service.brand_ambassador.mileage %>
      <div class="row report">
        <div id="travel-expense">
            <input type="checkbox" id="no-travel-expense"> No travel expenses
        </div>
      </div>  
      <%= f.hidden_field(:travel_expense) %>                 
      <input type="hidden" id="can_submit" value="0">
    <% end %>

  </div>

  <hr>

  <%= f.button "Submit", {type: "submit", class: "btn btn-default", id: "submit-report-data", data: {mileage: @service.brand_ambassador.mileage}} %>

<% end %>

<% if @service.brand_ambassador.mileage %>
  <div id="travel-expense-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">
            Please multiply the number of miles over 35 per demo times the agreed rate and enter here.
          </h4>
        </div>
        <div class="modal-body">
          $ <input type="text" id="travel-expense-field">
          <button id="submit-travel-expense" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div id="insert-add-product-report-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">
          Insert Products
        </h4>
      </div>
      <div class="modal-body">
        <% unless @service.client.products.blank? %>
          <% @service.client.products.each do |product| %>
            <span id="list-product-<%= product.id %>" style="display: block;" class='product-lists-modal' >
             <input class="checkbox-products" type="checkbox" data-id='<%= product.id %>' data-name='<%= product.name %>'> <%= product.name %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="modal-body">
        <button id="submit-list-products" class="btn btn-primary">Add Product</button>
      </div>
    </div>
  </div>
</div>

<% if @service.is_co_op? %>
  <div id="insert-add-product-coop-report-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">
            Insert Products
          </h4>
        </div>
        <div class="modal-body">
          <% unless @service.client.products.blank? %>
            <% @service.co_op_client.products.each do |product| %>
              <span id="list-product-coop-<%= product.id %>" style="display: block;" class='product-coop-lists-modal' >
               <input class="checkbox-coop-products" type="checkbox" data-id='<%= product.id %>' data-name='<%= product.name %>'> <%= product.name %>
              </span>
            <% end %>
          <% end %>
        </div>
        <div class="modal-body">
          <button id="submit-list-coop-products" class="btn btn-primary">Add Product</button>
        </div>
      </div>
    </div>
  </div>
<% end%>