<%= form_for @report, html: {role: "form", style: "margin: 35px;", "multipart" => true} do |f| %>
  <%= f.hidden_field(:service_id) %>
  <div class="row">    
    <div class="row report">
      <div id="report-client" class="report-left">
        <span class="report-title">Client</span>: 
        <span class="report-option-details"><%= @service.project.client.company_name %></span>
      </div>

      <div id="report-project">
        <span class="report-title">Project</span>: 
        <span class="report-option-details"><%= @service.project.name %></span>
      </div>
    </div>

    <div class="row report">
      <div id="report-ba" class="report-left">
        <span class="report-title">Name of BA</span>: 
        <span class="report-option-details"><%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %></span>
      </div>

      <div id="report-location">
        <span class="report-title">Location</span>: 
        <span class="report-option-details"><%= @service.location.complete_location %></span>
      </div>
    </div>

    <div class="row report">
      <div id="report-date">
        <span class="report-title">Date/Time</span>: 
        <span class="report-option-details">
          <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
        </span>
      </div>
    </div>

    <div class="row report">
      <div id="report-demo-in-store">
        <span class="report-title">Location of demo in store</span>:
        <%= f.text_field(:demo_in_store) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-weather" class="report-left">
        <span class="report-title">Weather</span>: 
        <%= f.text_field(:weather) %>
      </div>

      <div id="report-traffic">
        <span class="report-title">Traffic</span>: 
        <%= f.select(:traffic, DefaultValue.traffic) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-busiest-hours" class="report-left">
        <span class="report-title">Busiest hours of demo</span>:
        <%= f.text_field(:busiest_hours) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-product" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th><span class="report-title">Price</span></th>
              <th><span class="report-title">Sample</span></th>
              <th><span class="report-title">Beginning</span></th>
              <th><span class="report-title">End</span></th>
              <th><span class="report-title">Sold</span></th>
            </tr>
          </thead>
          <tbody>  
            <tr>
              <td>Product 1</td>
              <td id="product-one" data-id="one">
                <%= f.text_field(:product_one) %>
              </td>
              <td id="product-one-price" data-id="one">
                <%= f.text_field(:product_one_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-one-sample" data-id="one" class="product-sample">
                <%= f.text_field(:product_one_sample, {style: "width: 35px;"}) %>
              </td>                            
              <td id="product-one-beginning" data-id="one" class="product-beginning">
                <%= f.text_field(:product_one_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-one-end" data-id="one" class="product-end">
                <%= f.text_field(:product_one_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-one-sold" data-id="one" class="product-sold">
                <%= f.text_field(:product_one_sold, {style: "width: 35px;"}) %>
              </td>
            </tr>
            <tr>
              <td>Product 2</td>
              <td id="product-two" data-id="two">
                <%= f.text_field(:product_two) %>
              </td>
              <td id="product-two-price" data-id="two">
                <%= f.text_field(:product_two_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-two-sample" data-id="two" class="product-sample">
                <%= f.text_field(:product_two_sample, {style: "width: 35px;"}) %>
              </td>                     
              <td id="product-two-beginning" data-id="two" class="product-beginning">
                <%= f.text_field(:product_two_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-two-end" data-id="two" class="product-end">
                <%= f.text_field(:product_two_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-two-sold" data-id="two" class="product-sold">
                <%= f.text_field(:product_two_sold, {style: "width: 35px;"}) %>
              </td>
            </tr>
            <tr>
              <td>Product 3</td>
              <td id="product-three" data-id="three">
                <%= f.text_field(:product_three) %>
              </td>
              <td id="product-three-price" data-id="three">
                <%= f.text_field(:product_three_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-three-sample" data-id="three" class="product-sample">
                <%= f.text_field(:product_three_sample, {style: "width: 35px;"}) %>
              </td>                     
              <td id="product-three-beginning" data-id="three" class="product-beginning">
                <%= f.text_field(:product_three_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-three-end" data-id="three" class="product-end">
                <%= f.text_field(:product_three_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-three-sold" data-id="three" class="product-sold">
                <%= f.text_field(:product_three_sold, {style: "width: 35px;"}) %>
              </td>
            </tr>
            <tr>
              <td>Product 4</td>
              <td id="product-four" data-id="four">
                <%= f.text_field(:product_four) %>
              </td>
              <td id="product-four-price" data-id="four">
                <%= f.text_field(:product_four_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-four-sample" data-id="four" class="product-sample">
                <%= f.text_field(:product_four_sample, {style: "width: 35px;"}) %>
              </td>                     
              <td id="product-four-beginning" data-id="four" class="product-beginning">
                <%= f.text_field(:product_four_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-four-end" data-id="four" class="product-end">
                <%= f.text_field(:product_four_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-four-sold" data-id="four" class="product-sold">
                <%= f.text_field(:product_four_sold, {style: "width: 35px;"}) %>
              </td>
            </tr> 
            <tr>
              <td>Product 5</td>
              <td id="product-five" data-id="five">
                <%= f.text_field(:product_five) %>
              </td>
              <td id="product-five-price" data-id="five">
                <%= f.text_field(:product_five_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-five-sample" data-id="five" class="product-sample">
                <%= f.text_field(:product_five_sample, {style: "width: 35px;"}) %>
              </td>                     
              <td id="product-five-beginning" data-id="five" class="product-beginning">
                <%= f.text_field(:product_five_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-five-end" data-id="five" class="product-end">
                <%= f.text_field(:product_five_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-five-sold" data-id="five" class="product-sold">
                <%= f.text_field(:product_five_sold, {style: "width: 35px;"}) %>
              </td>
            </tr>     
            <tr>
              <td>Product 6</td>
              <td id="product-six" data-id="six">
                <%= f.text_field(:product_six) %>
              </td>
              <td id="product-six-price" data-id="six">
                <%= f.text_field(:product_six_price, {style: "width: 35px;"}) %>
              </td>              
              <td id="product-six-sample" data-id="six" class="product-sample">
                <%= f.text_field(:product_six_sample, {style: "width: 35px;"}) %>
              </td>                     
              <td id="product-six-beginning" data-id="six" class="product-beginning">
                <%= f.text_field(:product_six_beginning, {style: "width: 35px;"}) %>
              </td>
              <td id="product-six-end" data-id="six" class="product-end">
                <%= f.text_field(:product_six_end, {style: "width: 35px;"}) %>
              </td>
              <td id="product-six-sold" data-id="six" class="product-sold">
                <%= f.text_field(:product_six_sold, {style: "width: 35px;"}) %>
              </td>
            </tr>                                                            
          </tbody>
        </table>
      </div>
    </div>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Sample product</span>:
        <%= f.select(:sample_product, DefaultValue.sample_product) %>
      </div>
    </div>    

    <div class="row report">
      <div id="report-est-customer-touched" class="report-left">
        <span class="report-title">Estimated # of customers touched</span>: 
        <%= f.text_field(:est_customer_touched, {style: "width: 35px;"}) %>
      </div>

      <div id="report-est-sample-given">
        <span class="report-title">Estimated # of sample given</span>: 
        <%= f.text_field(:est_sample_given, {style: "width: 35px;"}) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Expense</span>:
        <%= f.text_field(:expense_one) %>
        <%= f.file_field(:expense_one_img) %>
      </div>
    </div>  
    

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Customer Comments</span>:<br />
        <%= f.text_area(:customer_comments, cols: 100, rows: 10) %>
      </div>
    </div>      

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">BA Comments</span>:<br />
        <%= f.text_area(:ba_comments, cols: 100, rows: 10) %>
      </div>
    </div>     

    <div class="row report">
      <div id="report-attach-table">
        <span class="report-title">Attach Table Image</span>:
        <%= f.file_field(:table_image_one_img) %>
        <%= f.file_field(:table_image_two_img) %>
      </div>
    </div>         

    <% if @service.brand_ambassador.mileage %>
      <div class="row report">
        <div id="travel-expense">
            <input type="checkbox" id="no-travel-expense"> No travel expenses
        </div>
      </div>  
      <%= f.hidden_field(:travel_expense) %>                 
      <input type="hidden" id="can_submit" value="0">
    <% end %>

  </div>

  <hr>
  <%= f.button "Submit", {type: "submit", class: "btn btn-default", id: "submit-report-data", data: {mileage: @service.brand_ambassador.mileage}} %>
<% end %>

<% if @service.brand_ambassador.mileage %>
  <div id="travel-expense-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">
            Please multiply the number of miles over 35 per demo times the agreed rate and enter here.
          </h4>
        </div>
        <div class="modal-body">
          $ <input type="text" id="travel-expense-field">
          <button id="submit-travel-expense" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<% end %>