<%= form_for @report, html: {role: "form", style: "margin: 35px;", "multipart" => true} do |f| %>
  <%= f.hidden_field(:service_id) %>
  <div class="row">    
    
    <div class="row report">
      <div id="report-client" class="report-left">
        <span class="report-title">Client</span>: 
        <span class="report-option-details"><%= @service.company_name %></span>
      </div>
    </div>

    <div class="row report">
      <div id="report-ba" class="report-left">
        <span class="report-title">Name of BA</span>: 
        <span class="report-option-details"><%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %></span>
      </div>

      <div id="report-location">
        <span class="report-title">Location</span>: 
        <span class="report-option-details"><%= @service.location.complete_location %></span>
      </div>
    </div>

    <div class="row report">
      <div id="report-date">
        <span class="report-title">Date/Time</span>: 
        <span class="report-option-details">
          <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
        </span>
      </div>
    </div>

    <div class="row report">
      <div id="report-demo-in-store">
        <span class="report-title">Location of demo in store</span>:
        <%= f.text_field(:demo_in_store) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-weather" class="report-left">
        <span class="report-title">Weather</span>: 
        <%= f.text_field(:weather) %>
      </div>

      <div id="report-traffic">
        <span class="report-title">Traffic</span>: 
        <%= f.select(:traffic, DefaultValue.traffic) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-busiest-hours" class="report-left">
        <span class="report-title">Busiest hours of demo</span>:
        <%= f.text_field(:busiest_hours) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-product" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th><span class="report-title">Price</span></th>
              <th><span class="report-title">Sample</span></th>
              <th><span class="report-title">Beginning</span></th>
              <th><span class="report-title">End</span></th>
              <th><span class="report-title">Sold</span></th>
            </tr>
          </thead>
          <tbody>  
            <% if @report.new_record? || !@report.client_products.nil? %>
              <%= render "client_products", f: f, client: @service.client %>
            <% else %>
              <%= render "products", f: f %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Sample product</span>:
        <%= f.select(:sample_product, DefaultValue.sample_product) %>
      </div>
    </div>    

    <div class="row report">
      <div id="report-est-customer-touched" class="report-left">
        <span class="report-title">Estimated # of customers touched</span>: 
        <%= f.text_field(:est_customer_touched, {style: "width: 35px;", required: "required", pattern: "[-+]?[0-9]*[.,]?[0-9]+"}) %>
      </div>

      <div id="report-est-sample-given">
        <span class="report-title">Estimated # of sample given</span>: 
        <%= f.text_field(:est_sample_given, {style: "width: 35px;"}) %>
      </div>
    </div>

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Expense</span>:
        <%= f.text_field(:expense_one) %>
        <%= f.file_field(:expense_one_img) %>
      </div>
    </div>  
    

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">Customer Comments</span>:<br />
        <%= f.text_area(:customer_comments, cols: 100, rows: 10) %>
      </div>
    </div>      

    <div class="row report">
      <div id="report-sample-product">
        <span class="report-title">BA Comments</span>:<br />
        <%= f.text_area(:ba_comments, cols: 100, rows: 10) %>
      </div>
    </div>     

    <div class="row report">
      <div id="report-attach-table">
        <span class="report-title">Attach Table Image</span>:
        <%= f.file_field(:table_image_one_img) %>
        <%= f.file_field(:table_image_two_img) %>
      </div>
    </div>         

    <% if @service.brand_ambassador.mileage %>
      <div class="row report">
        <div id="travel-expense">
            <input type="checkbox" id="no-travel-expense"> No travel expenses
        </div>
      </div>  
      <%= f.hidden_field(:travel_expense) %>                 
      <input type="hidden" id="can_submit" value="0">
    <% end %>

  </div>

  <hr>
  <%= f.button "Submit", {type: "submit", class: "btn btn-default", id: "submit-report-data", data: {mileage: @service.brand_ambassador.mileage}} %>
<% end %>

<% if @service.brand_ambassador.mileage %>
  <div id="travel-expense-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">
            Please multiply the number of miles over 35 per demo times the agreed rate and enter here.
          </h4>
        </div>
        <div class="modal-body">
          $ <input type="text" id="travel-expense-field">
          <button id="submit-travel-expense" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<% end %>