<table id="table-data" class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "start_at", "Date" %></th>
      <th><%= sortable "time", "Time" %></th>
      <th><%= sortable "client", "Client Name" %></th>
      <th><%= sortable "location_name", "Location Name" %></th>
      <th><%= sortable "ba", "BA" %></th>
      <th>Expense</th>
      <th>Travel Expense</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each_with_index do |service, i|  %>
    <tr>
      <td><%= link_to service.start_at.strftime('%m/%d/%Y'), client_service_path(client_id:  (service.client.nil? ? "" : service.client.id), id: service.id, report: true) %></td>
      <td><%= service.start_at.strftime("%I:%M %p") %></td>
      <td><%= service.company_name %></td> 
      <td><%= service.location.nil? ? "" : service.location.name %></td>
      <td><%= service.brand_ambassador.nil? ? "-" : service.brand_ambassador.name %></td> 

      <% unless service.report_service.nil? %>
        <td><%= number_to_currency service.report_service.expense_one %></td>
        <td><%= (service.brand_ambassador.mileage ? (service.report_service.travel_expense.nil? ? "-" : number_to_currency(service.report_service.travel_expense)) : "-") %></td>
      <% else %>
        <td>-</td>
        <td>-</td>      
      <% end %>      

      <td><%= service.current_status %></td>
      <td>

        <% if service.can_create_report? || service.report_service.nil? %>
          <%= link_to("Create Report", new_report_path(service_id: service.id)) %>
        <% else %>
          <%= link_to("Show Report", report_path(service.report_service)) %> ||
          <%= link_to("Edit Report", edit_report_path(service.report_service)) %>   
          <% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
            || <%= link_to("Delete Report", report_path(service.report_service), {data: { confirm: "Are you sure?" }, :method => :delete}) %>
          <% end %>
        <% end %>
        
      </td> 
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @services, renderer: BootstrapPagination::Rails %>