<table id="table-data" class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "start_at", "Date" %></th>
      <th><%= sortable "time", "Time" %></th>
      <th><%= sortable "client", "Client Name" %></th>
      <th><%= sortable "ba", "BA" %></th>
      <th>Demo Rate</th>
      <th>Expense 1</th>
      <th>Expense 2</th>
      <th>Mileage</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each_with_index do |service, i|  %>
    <tr>
      <td><%= service.start_at.strftime('%m/%d/%Y') %></td>
      <td><%= service.start_at.strftime("%I:%M %p") %></td>
      <td><%= service.company_name %></td> 
      <td><%= service.brand_ambassador.name %></td> 
      <td><%= number_to_currency(service.project.rate) %></td> 
      <% unless service.report.nil? %>
        <td><%= number_to_currency service.report.expense_one %></td>
        <td><%= number_to_currency service.report.expense_two %></td>
      <% else %>
        <td>-</td>
        <td>-</td>      
      <% end %>
      <td><%= service.brand_ambassador.mileage %></td>
      <td><%= service.current_status %></td>
      <td>
      <% if service.can_create_report? || service.report.nil? %>
        <%= link_to("Create Report", new_report_path(service_id: service.id)) %>
      <% else %>
        <%= link_to("Show Report", report_path(service.report)) %> ||
        <%= link_to("Edit Report", edit_report_path(service.report)) %>   
        <% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
          || <%= link_to("Delete Report", report_path(service.report), {data: { confirm: "Are you sure?" }, :method => :delete}) %>
        <% end %>
      <% end %>
      </td> 
    </tr>
    <% end %>
  </tbody>
</table>