<tr>
  <td>Product 1</td>
  <td id="product-one" data-id="one">
    <%= @report.product_one %>
  </td>
  <td id="product-one-price" data-id="one">
    <%= number_to_currency @report.product_one_price %>
  </td>              
  <td id="product-one-sample" data-id="one">
    <%= @report.product_one_sample %>
  </td>               
  <td id="product-one-beginning" data-id="one">
    <%= @report.product_one_beginning %>
  </td>
  <td id="product-one-end" data-id="one">
    <%= @report.product_one_end %>
  </td>
  <td id="product-one-sold" data-id="one">
    <%= @report.product_one_sold %>
  </td>
</tr>
<tr>
  <td>Product 2</td>
  <td id="product-two" data-id="two">
    <%= @report.product_two %>
  </td>
  <td id="product-two-price" data-id="two">
    <%= number_to_currency @report.product_two_price %>
  </td>              
  <td id="product-two-sample" data-id="two">
    <%= @report.product_two_sample %>
  </td>                           
  <td id="product-two-beginning" data-id="two">
    <%= @report.product_two_beginning %>
  </td>
  <td id="product-two-end" data-id="two">
    <%= @report.product_two_end %>
  </td>
  <td id="product-two-sold" data-id="two">
    <%= @report.product_two_sold %>
  </td>
</tr>
<tr>
  <td>Product 3</td>
  <td id="product-three" data-id="three">
    <%= @report.product_three %>
  </td>
  <td id="product-three-price" data-id="three">
    <%= number_to_currency @report.product_three_price %>
  </td>              
  <td id="product-three-sample" data-id="three">
    <%= @report.product_three_sample %>
  </td>                           
  <td id="product-three-beginning" data-id="three">
    <%= @report.product_three_beginning %>
  </td>
  <td id="product-three-end" data-id="three">
    <%= @report.product_three_end %>
  </td>
  <td id="product-three-sold" data-id="three">
    <%= @report.product_three_sold %>
  </td>
</tr>
<tr>
  <td>Product 4</td>
  <td id="product-four" data-id="four">
    <%= @report.product_four %>
  </td>
  <td id="product-four-price" data-id="four">
    <%= number_to_currency @report.product_four_price %>
  </td>              
  <td id="product-four-sample" data-id="four">
    <%= @report.product_four_sample %>
  </td>                           
  <td id="product-four-beginning" data-id="four">
    <%= @report.product_four_beginning %>
  </td>
  <td id="product-four-end" data-id="four">
    <%= @report.product_four_end %>
  </td>
  <td id="product-four-sold" data-id="four">
    <%= @report.product_four_sold %>
  </td>
</tr>      
<tr>
  <td>Product 5</td>
  <td id="product-five" data-id="five">
    <%= @report.product_five %>
  </td>
  <td id="product-five-price" data-id="five">
    <%= number_to_currency @report.product_five_price %>
  </td>              
  <td id="product-five-sample" data-id="five">
    <%= @report.product_five_sample %>
  </td>                           
  <td id="product-five-beginning" data-id="five">
    <%= @report.product_five_beginning %>
  </td>
  <td id="product-five-end" data-id="five">
    <%= @report.product_five_end %>
  </td>
  <td id="product-five-sold" data-id="five">
    <%= @report.product_five_sold %>
  </td>
</tr>   
<tr>
  <td>Product 6</td>
  <td id="product-six" data-id="six">
    <%= @report.product_six %>
  </td>
  <td id="product-six-price" data-id="six">
    <%= number_to_currency @report.product_six_price %>
  </td>              
  <td id="product-six-sample" data-id="six">
    <%= @report.product_six_sample %>
  </td>                           
  <td id="product-six-beginning" data-id="six">
    <%= @report.product_six_beginning %>
  </td>
  <td id="product-six-end" data-id="six">
    <%= @report.product_six_end %>
  </td>
  <td id="product-six-sold" data-id="six">
    <%= @report.product_six_sold %>
  </td>
</tr>    