<tr>
  <td>Product 1</td>
  <td id="product-one" data-id="one">
    <%= f.text_field(:product_one) %>
  </td>
  <td id="product-one-price" data-id="one">
    <%= f.text_field(:product_one_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-one-sample" data-id="one" class="product-sample">
    <%= f.text_field(:product_one_sample, {class: "width_35px"}) %>
  </td>                            
  <td id="product-one-beginning" data-id="one" class="product-beginning">
    <%= f.text_field(:product_one_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-one-end" data-id="one" class="product-end">
    <%= f.text_field(:product_one_end, {class: "width_35px"}) %>
  </td>
  <td id="product-one-sold" data-id="one" class="product-sold">
    <%= f.text_field(:product_one_sold, {class: "width_35px"}) %>
  </td>
</tr>
<tr>
  <td>Product 2</td>
  <td id="product-two" data-id="two">
    <%= f.text_field(:product_two) %>
  </td>
  <td id="product-two-price" data-id="two">
    <%= f.text_field(:product_two_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-two-sample" data-id="two" class="product-sample">
    <%= f.text_field(:product_two_sample, {class: "width_35px"}) %>
  </td>                     
  <td id="product-two-beginning" data-id="two" class="product-beginning">
    <%= f.text_field(:product_two_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-two-end" data-id="two" class="product-end">
    <%= f.text_field(:product_two_end, {class: "width_35px"}) %>
  </td>
  <td id="product-two-sold" data-id="two" class="product-sold">
    <%= f.text_field(:product_two_sold, {class: "width_35px"}) %>
  </td>
</tr>
<tr>
  <td>Product 3</td>
  <td id="product-three" data-id="three">
    <%= f.text_field(:product_three) %>
  </td>
  <td id="product-three-price" data-id="three">
    <%= f.text_field(:product_three_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-three-sample" data-id="three" class="product-sample">
    <%= f.text_field(:product_three_sample, {class: "width_35px"}) %>
  </td>                     
  <td id="product-three-beginning" data-id="three" class="product-beginning">
    <%= f.text_field(:product_three_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-three-end" data-id="three" class="product-end">
    <%= f.text_field(:product_three_end, {class: "width_35px"}) %>
  </td>
  <td id="product-three-sold" data-id="three" class="product-sold">
    <%= f.text_field(:product_three_sold, {class: "width_35px"}) %>
  </td>
</tr>
<tr>
  <td>Product 4</td>
  <td id="product-four" data-id="four">
    <%= f.text_field(:product_four) %>
  </td>
  <td id="product-four-price" data-id="four">
    <%= f.text_field(:product_four_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-four-sample" data-id="four" class="product-sample">
    <%= f.text_field(:product_four_sample, {class: "width_35px"}) %>
  </td>                     
  <td id="product-four-beginning" data-id="four" class="product-beginning">
    <%= f.text_field(:product_four_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-four-end" data-id="four" class="product-end">
    <%= f.text_field(:product_four_end, {class: "width_35px"}) %>
  </td>
  <td id="product-four-sold" data-id="four" class="product-sold">
    <%= f.text_field(:product_four_sold, {class: "width_35px"}) %>
  </td>
</tr> 
<tr>
  <td>Product 5</td>
  <td id="product-five" data-id="five">
    <%= f.text_field(:product_five) %>
  </td>
  <td id="product-five-price" data-id="five">
    <%= f.text_field(:product_five_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-five-sample" data-id="five" class="product-sample">
    <%= f.text_field(:product_five_sample, {class: "width_35px"}) %>
  </td>                     
  <td id="product-five-beginning" data-id="five" class="product-beginning">
    <%= f.text_field(:product_five_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-five-end" data-id="five" class="product-end">
    <%= f.text_field(:product_five_end, {class: "width_35px"}) %>
  </td>
  <td id="product-five-sold" data-id="five" class="product-sold">
    <%= f.text_field(:product_five_sold, {class: "width_35px"}) %>
  </td>
</tr>     
<tr>
  <td>Product 6</td>
  <td id="product-six" data-id="six">
    <%= f.text_field(:product_six) %>
  </td>
  <td id="product-six-price" data-id="six">
    <%= f.text_field(:product_six_price, {class: "width_35px"}) %>
  </td>              
  <td id="product-six-sample" data-id="six" class="product-sample">
    <%= f.text_field(:product_six_sample, {class: "width_35px"}) %>
  </td>                     
  <td id="product-six-beginning" data-id="six" class="product-beginning">
    <%= f.text_field(:product_six_beginning, {class: "width_35px"}) %>
  </td>
  <td id="product-six-end" data-id="six" class="product-end">
    <%= f.text_field(:product_six_end, {class: "width_35px"}) %>
  </td>
  <td id="product-six-sold" data-id="six" class="product-sold">
    <%= f.text_field(:product_six_sold, {class: "width_35px"}) %>
  </td>
</tr>