<h1 class="page-header">Process BA Payments</h1>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-3">
    <%= form_tag(ba_payments_reports_path, method: :get, remote: true, id: "filter-data") do %>
      <div class="form-group">
        <label class="control-label">Assigned To</label>
        <%= select_tag("assigned_to", options_from_collection_for_select(@brand_ambassadors, "id", "name"), {class: "form-control filter-params", :include_blank => true}) %>
      </div>   
      <%= hidden_field_tag(:sort, "start_at",) %>
      <%= hidden_field_tag(:direction, "desc") %>
      <%= hidden_field_tag(:project_name, "") %>
      <%= hidden_field_tag(:page, 1) %>
      <%= submit_tag("Filter", class: "btn btn-default", id: "filter-submit") %>               
    <% end %>
  </div>
</div>
<hr>

<div class="table-responsive">
  <%= render "grid_ba_payments" %>
</div>