<h1 class="page-header">Reports</h1>

<% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
  <%= render "filter" %>
<% elsif current_user.has_role?(:ba) %>
  <%= render "filter_ba" %>
<% end %>

<div class="link-new-btn">
  <%= link_to("View Calendar", "#", {id: "view-calendar-filter" ,class: "btn btn-primary", role: "button", data: {url: view_calendar_reports_path}}) %>
</div>

<div class="table-responsive">
  <% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
    <%= render "grid" %>
  <% elsif current_user.has_role?(:ba) %>
    <%= render "grid_ba" %>
  <% end %>
</div>

<%= form_tag(reports_path(format: :csv), method: :get, role: "form", id: "download-csv") do %>
  <%= hidden_field_tag(:status, nil, id: "status-csv") %>
  <%= hidden_field_tag(:assigned_to, nil, id: "assigned-csv") %>
  <%= hidden_field_tag(:client_name, nil, id: "client-csv") %>
  <%= hidden_field_tag(:project_name, nil, id: "project-csv") %>
  <%= hidden_field_tag(:sort, nil, id: "sort-csv") %>
  <%= hidden_field_tag(:direction, nil, id: "direction-csv") %>
<% end %>