<h1 class="page-header">Create BA Payment</h1>

<%= form_tag(process_ba_payments_reports_path, {method: :post, id: "form-invoice"} ) do %>

<div class="row">
  <div class="col-md-3">
    <label>Payable To:</label>
    <p><%= @ba.name %></p>
  </div> 
</div>

<hr />

<div class="table-responsive">  
  <table id="table-data" class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Client Name</th>
        <th>Location</th>
        <th>Rate</th>
        <th>Expenses</th>
        <th>Travel Expense</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each_with_index do |service, i|  %>
        <tr>
          <td><%= service.start_at.strftime('%m/%d/%Y') %></td>
          <td><%= service.company_name %></td>
          <td><%= service.location.name %></td>         
          <td><%= number_to_currency(service.ba_rate) %></td> 
          <td><%= service.report_service.expense_one.nil? ? "-" : number_to_currency(service.report_service.expense_one) %></td>
          <td><%= (service.brand_ambassador.mileage ? (service.report_service.travel_expense.nil? ? "-" : number_to_currency(service.report_service.travel_expense)) : "-") %></td>
          <td><%= number_to_currency service.total_ba_paid %></td> 
        </tr>        
      <% end %>

      <tr style="border-top: 2px; border-top-style: dashed; border-bottom: 2px; border-bottom-style: dashed;">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><strong>Sub Total</strong></td>
        <td><%= number_to_currency @totals_rate %></td>
        <td><%= number_to_currency @totals_expense %></td>
        <td><%= number_to_currency @totals_travel_expense %></td>
        <td>&nbsp;</td>
      </tr>

      <tr style="border-top: 2px; border-top-style: double; border-bottom: 2px; border-bottom-style: double;">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><strong>Total</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="grand-total-all" data-total="<%= @totals_ba_paid %>">
          <%= number_to_currency @totals_ba_paid %>
        </td>
      </tr>

      <tr id="add-item-result" >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>                
        <td>&nbsp;</td>
      </tr>

      <tr style="border-top: 2px; border-top-style: double; border-bottom: 2px; border-bottom-style: double;">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><strong>Balance Due</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="due-total-all"><%= number_to_currency @totals_ba_paid %></td>
      </tr>

    </tbody>
  </table>
  <%= hidden_field_tag("grand_total_all", @totals_ba_paid) %>
  
  <% @services.each_with_index do |service, i|  %>
    <%= hidden_field_tag("service_ids[]", "#{service.brand_ambassador.id}-#{service.id}") %>    
  <% end %>  

  <%= submit_tag("Create Payment & Send to BA", class: "btn btn-primary", id: "create-invoice") %>    
</div>
<% end %>
<hr />
<div class="row">
  <div class="link-new-btn">
    <%= link_to("Insert Additional Line Item", "#", {id: "insert_add_item", class: "btn btn-primary", role: "button"}) %>
  </div>
</div>  


<div id="insert-add-item-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form id="form-add-item">
        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">
            Insert Additional Line Item
          </h4>
        </div>
        <div class="modal-body">
          <label>Description : </label>
          <p><input type="text" required id="insert-add-item-description" class="form-control"></p>
        </div>
        <div class="modal-body">
          <label>Amount : </label>
          <p><input type="text" required pattern="\d+(\.\d{2})?" id="insert-add-item-amount" class="form-control"></p>
        </div>
        <div class="modal-body">
          <p><input type="checkbox" id="reduction" value="reduction">&nbsp;Credit</p>
        </div>        
        <div class="modal-body">
          <button type="submit" id="submit-insert-add-item-amount" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
