<div class="row">
  <div style="text-align: center;margin-bottom: 50px;">
    <h4 style="color: rgb(9, 152, 197);">In Store Marketing Services Demo Report</h4>
  </div>  
  <div class="row report">
    <div id="report-client" class="report-left">
      <span class="report-title">Client</span>: 
      <span><%= @service.company_name %></span>
    </div>

  </div>

  <div class="row report">
    <div id="report-ba" class="report-left">
      <span class="report-title">Name of BA</span>: 
      <span><%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %></span>
    </div>

    <div id="report-location">
      <span class="report-title">Location</span>: 
      <span><%= @service.location.complete_location %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-date">
      <span class="report-title">Date/Time</span>: 
      <span>
        <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
      </span>
    </div>
  </div>

  <div class="row report">
    <div id="report-demo-in-store">
      <span class="report-title">Location of demo in store</span>: <%= @report.demo_in_store %>
    </div>
  </div>

  <div class="row report">
    <div id="report-weather" class="report-left">
      <span class="report-title">Weather</span>: 
      <span><%= @report.weather %></span>
    </div>

    <div id="report-traffic">
      <span class="report-title">Traffic</span>: 
      <span><%= @report.traffic %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-busiest-hours" class="report-left">
      <span class="report-title">Busiest hours of demo</span>: <%= @report.busiest_hours %>
    </div>
  </div>

  <br /><br />
  <div class="row report" style="float: left; width: 100%">
    <div id="report-product" class="table-responsive" style="float: left; width: 100%">
      <table class="table table-striped" style="float: left; width: 100%">
        <thead>
          <tr>
            <th style="text-align: left; width: 20%;">&nbsp;</th>
            <th style="text-align: left; width: 30%;">&nbsp;</th>
            <th style="text-align: right; width: 10%;"><span class="report-title">Price</span></th>
            <th style="text-align: right; width: 10%;"><span class="report-title">Sample</span></th>            
            <th style="text-align: right; width: 10%;"><span class="report-title">Beginning</span></th>
            <th style="text-align: right; width: 10%;"><span class="report-title">End</span></th>
            <th style="text-align: right; width: 10%;"><span class="report-title">Sold</span></th>
          </tr>
        </thead>
        <tbody>  
          <tr>
            <td style="width: 20%;">Product 1</td>
            <td id="product-one" data-id="one" style="width: 30%;">
              <%= @report.product_one %>
            </td>

            <td id="product-one-price" data-id="one" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_one_price %>
            </td>              
            <td id="product-one-sample" data-id="one" style="text-align: right; width: 10%;">
              <%= @report.product_one_sample %>
            </td>               
            <td id="product-one-beginning" data-id="one" style="text-align: right; width: 10%;">
              <%= @report.product_one_beginning %>
            </td>
            <td id="product-one-end" data-id="one" style="text-align: right; width: 10%;">
              <%= @report.product_one_end %>
            </td>
            <td id="product-one-sold" data-id="one" style="text-align: right; width: 10%;">
              <%= @report.product_one_sold %>
            </td>
          </tr>
          <tr>
            <td style="width: 20%;">Product 2</td>
            <td id="product-two" data-id="two" style="width: 30%;">
              <%= @report.product_two %>
            </td>
            <td id="product-two-price" data-id="two" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_two_price %>
            </td>              
            <td id="product-two-sample" data-id="two" style="text-align: right; width: 10%;">
              <%= @report.product_two_sample %>
            </td>                           
            <td id="product-two-beginning" data-id="two" style="text-align: right; width: 10%;">
              <%= @report.product_two_beginning %>
            </td>
            <td id="product-two-end" data-id="two" style="text-align: right; width: 10%;">
              <%= @report.product_two_end %>
            </td>
            <td id="product-two-sold" data-id="two" style="text-align: right; width: 10%;">
              <%= @report.product_two_sold %>
            </td>
          </tr>
          <tr>
            <td style="width: 20%;">Product 3</td>
            <td id="product-three" data-id="three" style="width: 30%;">
              <%= @report.product_three %>
            </td>
            <td id="product-three-price" data-id="three" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_three_price %>
            </td>              
            <td id="product-three-sample" data-id="three" style="text-align: right; width: 10%;">
              <%= @report.product_three_sample %>
            </td>                           
            <td id="product-three-beginning" data-id="three" style="text-align: right; width: 10%;">
              <%= @report.product_three_beginning %>
            </td>
            <td id="product-three-end" data-id="three" style="text-align: right; width: 10%;">
              <%= @report.product_three_end %>
            </td>
            <td id="product-three-sold" data-id="three" style="text-align: right; width: 10%;">
              <%= @report.product_three_sold %>
            </td>
          </tr>
          <tr>
            <td style="width: 20%;">Product 4</td>
            <td id="product-four" data-id="four" style="width: 30%;">
              <%= @report.product_four %>
            </td>
            <td id="product-four-price" data-id="four" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_four_price %>
            </td>              
            <td id="product-four-sample" data-id="four" style="text-align: right; width: 10%;">
              <%= @report.product_four_sample %>
            </td>                           
            <td id="product-four-beginning" data-id="four" style="text-align: right; width: 10%;">
              <%= @report.product_four_beginning %>
            </td>
            <td id="product-four-end" data-id="four" style="text-align: right; width: 10%;">
              <%= @report.product_four_end %>
            </td>
            <td id="product-four-sold" data-id="four" style="text-align: right; width: 10%;">
              <%= @report.product_four_sold %>
            </td>
          </tr>  
          <tr>
            <td style="width: 20%;">Product 5</td>
            <td id="product-five" data-id="five" style="width: 30%;">
              <%= @report.product_five %>
            </td>
            <td id="product-five-price" data-id="five" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_five_price %>
            </td>              
            <td id="product-five-sample" data-id="five" style="text-align: right; width: 10%;">
              <%= @report.product_five_sample %>
            </td>                           
            <td id="product-five-beginning" data-id="five" style="text-align: right; width: 10%;">
              <%= @report.product_five_beginning %>
            </td>
            <td id="product-five-end" data-id="five" style="text-align: right; width: 10%;">
              <%= @report.product_five_end %>
            </td>
            <td id="product-five-sold" data-id="five" style="text-align: right; width: 10%;">
              <%= @report.product_five_sold %>
            </td>
          </tr>   
          <tr>
            <td style="width: 20%;">Product 6</td>
            <td id="product-six" data-id="six" style="width: 30%;">
              <%= @report.product_six %>
            </td>
            <td id="product-six-price" data-id="six" style="text-align: right; width: 10%;">
              <%= number_to_currency @report.product_six_price %>
            </td>              
            <td id="product-six-sample" data-id="six" style="text-align: right; width: 10%;">
              <%= @report.product_six_sample %>
            </td>                           
            <td id="product-six-beginning" data-id="six" style="text-align: right; width: 10%;">
              <%= @report.product_six_beginning %>
            </td>
            <td id="product-six-end" data-id="six" style="text-align: right; width: 10%;">
              <%= @report.product_six_end %>
            </td>
            <td id="product-six-sold" data-id="six" style="text-align: right; width: 10%;">
              <%= @report.product_six_sold %>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Sample product</span>: <%= @report.sample_product %>
    </div>
  </div>    

  <br />
  <div class="row report">
    <div id="report-est-customer-touched" class="report-left">
      <span class="report-title">Estimated # of customers touched</span>: 
      <%= @report.est_customer_touched %>
    </div>

    <div id="report-est-sample-given">
      <span class="report-title">Estimated # of sample given</span>: 
      <%= @report.est_sample_given %>
    </div>
  </div>

  <br />
  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Expense</span>: <%= number_to_currency @report.expense_one %>
      <% unless @report.expense_one_img.nil? %>
        <br />
        <%= image_tag @report.expense_one_img.url %>
      <% end %>
    </div>
  </div>  

  <% unless @report.travel_expense.nil? %>
    <br />
    <div class="row report">
      <div id="report-expense-one">
        <span class="report-title">Travel Expense</span>: <%= number_to_currency @report.travel_expense %>
      </div>
    </div>      
  <% end %>

  <br />
  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Customer Comments</span>: 
      <p><%= @report.customer_comments %></p>
    </div>
  </div>  

  <br />
  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">BA Comments</span>: 
      <p><%= @report.ba_comments %></p>
    </div>
  </div>            

  <br />
  <div class="row report">
    <div id="report-attach-table">
      <span class="report-title">Attach Table Image</span>:
      <% unless @report.table_image_one_img.nil? %>
        <br />
        <%= image_tag @report.table_image_one_img.url %>
      <% end %> 
      <br />
      <% unless @report.table_image_two_img.nil? %>
      <br />
        <%= image_tag @report.table_image_two_img.url %>
      <% end %>            
    </div>
  </div>               

</div>