<div class="row">
  <div class="" style="float: left">
    <table class="table-bordered" style="width: 250px;font-size: 13px;text-align: left;">
      <tr class="highlight" style="text-align: left;"><th class="pad-tab">Payable To :</th></tr>
      <tr>
        <td class="pad-tab">
          <span style="display: block; margin-top: 10px; font-size: 15px;">
            <strong><%= @ba.name %></strong>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row" style="margin-top: 50px; margin-bottom: 10px;">
  <table class="" style="width: 100%;font-size: 12px;text-align: left;">
    <thead>
      <tr class="border-inv">
        <th class="pad-tab highlight title-color border-inv">Date</th>
        <th class="pad-tab highlight title-color border-inv">Client Name</th>
        <th class="pad-tab highlight title-color border-inv">Location</th>        
        <th class="pad-tab highlight title-color border-inv right-align">Rate</th>
        <th class="pad-tab highlight title-color border-inv right-align">Expenses</th>
        <th class="pad-tab highlight title-color border-inv right-align">Travel Expense</th>
        <th class="pad-tab highlight title-color border-inv right-align">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each_with_index do |service, i|  %>
        <tr class="border-inv">
          <td class="pad-tab border-inv"><%= service.start_at.strftime('%m/%d/%Y') %></td>
          <td class="pad-tab border-inv"><%= service.company_name %></td> 
          <td class="pad-tab border-inv"><%= service.location.name %></td>        
          <td class="pad-tab border-inv right-align"><%= number_to_currency(service.ba_rate) %></td> 
          <td class="pad-tab border-inv right-align"><%= service.report_service.expense_one.nil? ? "-" : number_to_currency(service.report_service.expense_one) %></td>
          <td class="pad-tab border-inv right-align"><%= (service.brand_ambassador.mileage ? (service.report_service.travel_expense.nil? ? "-" : number_to_currency(service.report_service.travel_expense)) : "-") %></td>
          <td class="pad-tab border-inv right-align"><%= number_to_currency service.total_ba_paid %></td>
        </tr>
      <% end %>

        <tr>
          <td class="pad-tab"></td>
          <td class="pad-tab"></td> 
          <td class="pad-tab border-bott"><strong>Sub Total</strong></td>        
          <td class="pad-tab border-bott right-align"><%= number_to_currency @totals_rate %></td> 
          <td class="pad-tab border-bott right-align"><%= number_to_currency @totals_expense %></td>
          <td class="pad-tab border-bott right-align"><%= number_to_currency @totals_travel_expense %></td>
          <td class="pad-tab border-bott right-align"></td>
        </tr>      

        <tr id="add-item-result" style="">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="border-bott-strong"><strong>Total</strong></td>
          <td class="border-bott-strong">&nbsp;</td>
          <td class="border-bott-strong">&nbsp;</td>
          <td class="border-bott-strong">&nbsp;</td>
          <td class="right-align border-bott-strong">
            <%= number_to_currency @totals_ba_paid %>
          </td>
        </tr>

        <% unless @line_items.blank? %>
          <% @line_items.each do |item| %>
            <tr>
              <td>&nbsp;</td>
              <td><%= item[:desc] %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="right-align"><%= item[:reduction] == "true" ? "(#{number_to_currency item[:amount]})" : "#{number_to_currency item[:amount]}" %></td>
            </tr>
          <% end %>
        <% end %>

        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>                
          <td>&nbsp;</td>
        </tr>        

        <tr style="">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="border-bott-strong"><strong>Balance Due</strong></td>
          <td class="border-bott-strong">&nbsp;</td>
          <td class="border-bott-strong">&nbsp;</td>
          <td class="border-bott-strong">&nbsp;</td>
          <td id="due-total-all" class="right-align border-bott-strong"><%= number_to_currency @grand_total_all %></td>
        </tr>        
    </tbody>
  </table>  
</div>
