<h1 class="page-header">Show Report</h1>

<div class="row" style="margin: 0px;">
  <%= link_to "Download as PDF", download_pdf_report_path(id: @report.id), {class: "btn btn-primary", role: "button"} %>
  <% unless current_user.has_role?(:client) %>
    <%= link_to("Edit Report", edit_report_path(@service.report), {class: "btn btn-primary", role: "button"}) %>
  <% end %>

  <% if @next_report && (current_user.has_role?(:admin) || current_user.has_role?(:ismp)) %>
    <%= link_to("See the next report", report_path(@next_data), {class: "btn btn-primary", role: "button"}) %>
  <% end %>
  <%# if !@report.is_old_report && @service.is_co_op? %>
    <%#= link_to("Show Coop Report", report_path(@service.coop_service_report_data), {class: "btn btn-primary", role: "button"}) %>
  <%# end %>
</div>
<hr>

<div class="row" style="margin: 15px;">
  <!-- <div style="text-align: center;margin-bottom: 50px;">
    <h4 style="color: rgb(9, 152, 197);">In Store Marketing Services Demo Report</h4>
  </div> -->
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <%= image_tag "fflogo/ff-large-black.png", {height: "195px"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <h4 style="color: rgb(9, 152, 197);">In Store Marketing Services Demo Report</h4>
    </div>
  </div>

  <br />
  <%# unless (@service.is_co_op? && !@report.is_old_report) %>
    <div class="row report">
      <div id="report-client" class="report-left">
        <span class="report-title">Client</span>:
        <span class="report-option-details"><%= @service.company_name %></span>
      </div>
    </div>
  <%# end %>

  <div class="row report">
    <div id="report-ba" class="report-left">
      <span class="report-title">Name of BA</span>:
      <span class="report-option-details">
        <% if @service.is_co_op? && !@service.parent.nil? %>
          <%= @service.parent.brand_ambassador.nil? ? "-" : @service.parent.brand_ambassador.name %>
        <% else %>
          <%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %>
        <% end %>
      </span>
    </div>

    <div id="report-location">
      <span class="report-title">Location</span>:
      <span class="report-option-details"><%= @service.location.complete_location %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-date">
      <span class="report-title">Date/Time</span>:
      <span class="report-option-details">
        <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
      </span>
    </div>
  </div>

  <div class="row report">
    <div id="report-demo-in-store">
      <span class="report-title">Location of demo in store</span>: <%= @report.demo_in_store %>
    </div>
  </div>

  <div class="row report">
    <div id="report-weather" class="report-left">
      <span class="report-title">Weather</span>:
      <%= @report.weather %>
    </div>

    <div id="report-traffic">
      <span class="report-title">Traffic</span>:
      <%= @report.traffic %>
    </div>
  </div>

  <div class="row report">
    <div id="report-busiest-hours" class="report-left">
      <span class="report-title">Busiest hours of demo</span>: <%= @report.busiest_hours %>
    </div>
  </div>

  <% if (@service.is_co_op? && @report.is_old_report) %>
    <% unless @report.hide_client_name %>
      <div class="row report">
        <div id="report-client" class="report-left">
          <span class="report-title">Client</span>:
          <span class="report-option-details"><%= @service.company_name %></span>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @report.hide_client_product %>
    <div class="row report">
      <div id="report-product" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
                <th><span class="report-title">Price</span></th>
                <th><span class="report-title">Sample</span></th>
              <th><span class="report-title">Beginning</span></th>
              <th><span class="report-title">End</span></th>
              <th><span class="report-title">Sold</span></th>
            </tr>
          </thead>
          <tbody>
            <% if !@report.client_products.nil? %>
              <%= render "client_products_show" %>
            <% else %>
              <%= render "products_show" %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <% if (@service.is_co_op? && @report.is_old_report) %>

    <% unless @report.hide_client_coop_name %>
      <div class="row report">
        <div id="report-client" class="report-left">
          <span class="report-title">Client </span>:
          <span class="report-option-details"><%= @service.co_op_services.first.company_name %></span>
        </div>
      </div>
    <% end %>

    <% unless @report.hide_client_coop_product %>
      <div class="row report">
        <div id="report-product" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                  <th><span class="report-title">Price</span></th>
                  <th><span class="report-title">Sample</span></th>
                <th><span class="report-title">Beginning</span></th>
                <th><span class="report-title">End</span></th>
                <th><span class="report-title">Sold</span></th>
              </tr>
            </thead>
            <tbody>
              <%= render "client_coop_products_show" %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Sample product</span>: <%= @report.sample_product %>
    </div>
  </div>

  <div class="row report">
    <div id="report-est-customer-touched" class="report-left">
      <span class="report-title">Estimated # of customers touched</span>:
      <%= @report.est_customer_touched %>
    </div>

    <div id="report-est-sample-given">
      <span class="report-title">Estimated # of sample given</span>:
      <%= @report.est_sample_given %>
    </div>
  </div>

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Expense</span>: <%= number_to_currency @report.expense_one %>
      <% @report.report_expense_images.each do |img| %>
        <br />
        <%= image_tag img.file.url, {width: "600px"} %>
      <% end %>
    </div>
  </div>

  <% unless @report.travel_expense.nil? %>
    <div class="row report">
      <div id="report-expense-one">
        <span class="report-title">Travel Expense</span>: <%= number_to_currency @report.travel_expense %>
      </div>
    </div>
  <% end %>

  <div class="row report">
    <div id="report-expense-two">
      <span class="report-title">Customer Comments</span>:
      <p><%= @report.customer_comments %></p>
    </div>
  </div>

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">BA Comments</span>:
      <p><%= @report.ba_comments %></p>
    </div>
  </div>

  <div class="row report">
    <div id="report-attach-table">
      <span class="report-title">Attach Table Image</span>:
      <% @report.report_table_images.each do |img| %>
        <br />
        <%= image_tag img.file.url, {width: "600px"} %>
      <% end %>
    </div>
  </div>

</div>
