<h1 class="page-header">Show Report</h1>

<div class="row" style="margin: 0px;">
  <%= link_to "Download as PDF", download_pdf_report_path(id: @report.id), {class: "btn btn-primary", role: "button"} %>
  <% unless current_user.has_role?(:client) %>
    <%= link_to("Edit Report", edit_report_path(@service.report), {class: "btn btn-primary", role: "button"}) %>
  <% end %>
</div>
<hr>

<div class="row" style="margin: 15px;">
  <div style="text-align: center;margin-bottom: 50px;">
    <h4 style="color: rgb(9, 152, 197);">In Store Marketing Services Demo Report</h4>
  </div>
  <div class="row report">
    <div id="report-client" class="report-left">
      <span class="report-title">Client</span>: 
      <span class="report-option-details"><%= @service.project.client.company_name %></span>
    </div>

    <div id="report-project">
      <span class="report-title">Project</span>: 
      <span class="report-option-details"><%= @service.project.name %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-ba" class="report-left">
      <span class="report-title">Name of BA</span>: 
      <span class="report-option-details"><%= @service.brand_ambassador.nil? ? "-" : @service.brand_ambassador.name %></span>
    </div>

    <div id="report-location">
      <span class="report-title">Location</span>: 
      <span class="report-option-details"><%= @service.location.complete_location %></span>
    </div>
  </div>

  <div class="row report">
    <div id="report-date">
      <span class="report-title">Date/Time</span>: 
      <span class="report-option-details">
        <%= @service.start_at.strftime('%m/%d/%Y') %>: <%= @service.time_at %>
      </span>
    </div>
  </div>

  <div class="row report">
    <div id="report-demo-in-store">
      <span class="report-title">Location of demo in store</span>: <%= @report.demo_in_store %>
    </div>
  </div>

  <div class="row report">
    <div id="report-weather" class="report-left">
      <span class="report-title">Weather</span>: 
      <%= @report.weather %>
    </div>

    <div id="report-traffic">
      <span class="report-title">Traffic</span>: 
      <%= @report.traffic %>
    </div>
  </div>

  <div class="row report">
    <div id="report-busiest-hours" class="report-left">
      <span class="report-title">Busiest hours of demo</span>: <%= @report.busiest_hours %>
    </div>
  </div>

  <div class="row report">
    <div id="report-product" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
              <th><span class="report-title">Price</span></th>
              <th><span class="report-title">Sample</span></th>            
            <th><span class="report-title">Beginning</span></th>
            <th><span class="report-title">End</span></th>
            <th><span class="report-title">Sold</span></th>
          </tr>
        </thead>
        <tbody>  
          <tr>
            <td>Product 1</td>
            <td id="product-one" data-id="one">
              <%= @report.product_one %>
            </td>
            <td id="product-one-price" data-id="one">
              <%= number_to_currency @report.product_one_price %>
            </td>              
            <td id="product-one-sample" data-id="one">
              <%= @report.product_one_sample %>
            </td>               
            <td id="product-one-beginning" data-id="one">
              <%= @report.product_one_beginning %>
            </td>
            <td id="product-one-end" data-id="one">
              <%= @report.product_one_end %>
            </td>
            <td id="product-one-sold" data-id="one">
              <%= @report.product_one_sold %>
            </td>
          </tr>
          <tr>
            <td>Product 2</td>
            <td id="product-two" data-id="two">
              <%= @report.product_two %>
            </td>
            <td id="product-two-price" data-id="two">
              <%= number_to_currency @report.product_two_price %>
            </td>              
            <td id="product-two-sample" data-id="two">
              <%= @report.product_two_sample %>
            </td>                           
            <td id="product-two-beginning" data-id="two">
              <%= @report.product_two_beginning %>
            </td>
            <td id="product-two-end" data-id="two">
              <%= @report.product_two_end %>
            </td>
            <td id="product-two-sold" data-id="two">
              <%= @report.product_two_sold %>
            </td>
          </tr>
          <tr>
            <td>Product 3</td>
            <td id="product-three" data-id="three">
              <%= @report.product_three %>
            </td>
            <td id="product-three-price" data-id="three">
              <%= number_to_currency @report.product_three_price %>
            </td>              
            <td id="product-three-sample" data-id="three">
              <%= @report.product_three_sample %>
            </td>                           
            <td id="product-three-beginning" data-id="three">
              <%= @report.product_three_beginning %>
            </td>
            <td id="product-three-end" data-id="three">
              <%= @report.product_three_end %>
            </td>
            <td id="product-three-sold" data-id="three">
              <%= @report.product_three_sold %>
            </td>
          </tr>
          <tr>
            <td>Product 4</td>
            <td id="product-four" data-id="four">
              <%= @report.product_four %>
            </td>
            <td id="product-four-price" data-id="four">
              <%= number_to_currency @report.product_four_price %>
            </td>              
            <td id="product-four-sample" data-id="four">
              <%= @report.product_four_sample %>
            </td>                           
            <td id="product-four-beginning" data-id="four">
              <%= @report.product_four_beginning %>
            </td>
            <td id="product-four-end" data-id="four">
              <%= @report.product_four_end %>
            </td>
            <td id="product-four-sold" data-id="four">
              <%= @report.product_four_sold %>
            </td>
          </tr>      
          <tr>
            <td>Product 5</td>
            <td id="product-five" data-id="five">
              <%= @report.product_five %>
            </td>
            <td id="product-five-price" data-id="five">
              <%= number_to_currency @report.product_five_price %>
            </td>              
            <td id="product-five-sample" data-id="five">
              <%= @report.product_five_sample %>
            </td>                           
            <td id="product-five-beginning" data-id="five">
              <%= @report.product_five_beginning %>
            </td>
            <td id="product-five-end" data-id="five">
              <%= @report.product_five_end %>
            </td>
            <td id="product-five-sold" data-id="five">
              <%= @report.product_five_sold %>
            </td>
          </tr>   
          <tr>
            <td>Product 6</td>
            <td id="product-six" data-id="six">
              <%= @report.product_six %>
            </td>
            <td id="product-six-price" data-id="six">
              <%= number_to_currency @report.product_six_price %>
            </td>              
            <td id="product-six-sample" data-id="six">
              <%= @report.product_six_sample %>
            </td>                           
            <td id="product-six-beginning" data-id="six">
              <%= @report.product_six_beginning %>
            </td>
            <td id="product-six-end" data-id="six">
              <%= @report.product_six_end %>
            </td>
            <td id="product-six-sold" data-id="six">
              <%= @report.product_six_sold %>
            </td>
          </tr>             
        </tbody>
      </table>
    </div>
  </div>

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Sample product</span>: <%= @report.sample_product %>
    </div>
  </div>    

  <div class="row report">
    <div id="report-est-customer-touched" class="report-left">
      <span class="report-title">Estimated # of customers touched</span>: 
      <%= @report.est_customer_touched %>
    </div>

    <div id="report-est-sample-given">
      <span class="report-title">Estimated # of sample given</span>: 
      <%= @report.est_sample_given %>
    </div>
  </div>

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">Expense 1</span>: <%= number_to_currency @report.expense_one %>
      <% unless @report.expense_one_img.nil? %>
        <%= image_tag @report.expense_one_img.url %>
      <% end %>
    </div>
  </div>  

  <% unless @report.travel_expense.nil? %>
    <div class="row report">
      <div id="report-expense-one">
        <span class="report-title">Travel Expense</span>: <%= number_to_currency @report.travel_expense %>
      </div>
    </div>      
  <% end %>

  <div class="row report">
    <div id="report-expense-two">
      <span class="report-title">Customer Comments</span>: 
      <p><%= @report.customer_comments %></p>
    </div>
  </div>      

  <div class="row report">
    <div id="report-sample-product">
      <span class="report-title">BA Comments</span>: 
      <p><%= @report.ba_comments %></p>
    </div>
  </div>  

  <div class="row report">
    <div id="report-attach-table">
      <span class="report-title">Attach Table Image</span>:
      <% unless @report.table_image_one_img.nil? %>
        <%= image_tag @report.table_image_one_img.url %>
      <% end %> 
      <br />
      <% unless @report.table_image_two_img.nil? %>
        <%= image_tag @report.table_image_two_img.url %>
      <% end %>            
    </div>
  </div>             

</div>