  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <%= 
            check_box_tag("select", "all", false, {id: 'selecctall-location'})
          %>          
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Zipcode</th>
        <th>Contact</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each_with_index do |location, i|  %>
      <tr>
        <td>
          <%= 
            check_box_tag("location_#{location.id}", location.id, (@location_ids.nil? ? false : (@location_ids.include?(location.id.to_s) ? true : false)), {class: 'locations-checkbox'})
          %>
        </td>      
        <td><%= location.id %></td>
        <td><%= location.name %></td>
        <td><%= location.zipcode %></td>
        <td><%= location.contact %></td>
        <td><%= location.phone %></td>
        <td>
          <% if location.is_active %>
            <%= link_to "Display", location_path(location) %> || 
            <%= link_to "Edit", edit_location_path(location) %>            
          <% else %>
            <%= link_to (location.is_active ? "Deactivate" : "Reactivate"), location_path(location), {data: { confirm: "Are you sure?" }, :method => :delete} %>
          <% end %>          
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>