
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <%=
            check_box_tag("select", "all", false, {id: 'selecctall-location'})
          %>
        </th>
        <th>ID</th>
        <th><%= sortable "name", "Name" %></th>
        <th><%= sortable "created_at", "Added at" %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each_with_index do |location, i|  %>
      <tr>
        <td>
          <%=
            check_box_tag("location_#{location.id}", location.id, (@location_ids.nil? ? false : (@location_ids.include?(location.id.to_s) ? true : false)), {class: 'locations-checkbox'})
          %>
        </td>
        <td><%= location.id %></td>
        <td><%= location.name %></td>
        <td><%= location.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to "Show Contact", "#", {data: {toggle: "modal", target: "#modalContact#{location.id}"}} %></td>
        <td><%= link_to "List BA", "#", {data: {toggle: "modal", target: "#modalListBA#{location.id}"}} %></td>
        <td>
          <% if location.is_active %>
            <%= link_to "More", location_path(location) %> -
            <%= link_to "Edit", edit_location_path(location) %>
          <% else %>
            <%= link_to (location.is_active ? "Deactivate" : "Reactivate"), location_path(location), {data: { confirm: "Are you sure?" }, :method => :delete} %>
          <% end %>

          <div class="modal fade" id="modalListBA<%=location.id%>" tabindex="-1" role="dialog" aria-labelledby="modalListBA<%=location.id%>Label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">List BA in <%= location.name %></h4>
                </div>
                <div class="modal-body">
                  <ul>
                    <% location.brand_ambassadors.each do |ba| %>
                      <li><%= link_to ba.name, brand_ambassador_path(ba) %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modalContact<%=location.id%>" tabindex="-1" role="dialog" aria-labelledby="modalContact<%=location.id%>Label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Contact for <%= location.name %></h4>
                </div>
                <div class="modal-body">
                  <% if location.more_contacts.nil? %>
                    <p><strong>Contact:</strong> <%= location.contact %></p>
                    <p><strong>Email:</strong> <%= location.email %></p>
                    <p><strong>Phone:</strong> <%= location.phone %></p>
                  <% else %>
                    <p><strong>Contact 1 Name :</strong> <%= location.more_contacts["contact_1_name"] %></p>
                    <p><strong>Contact 1 Departement:</strong> <%= location.more_contacts["contact_1_departement"] %></p>
                    <p><strong>Contact 1 Phone:</strong> <%= location.more_contacts["contact_1_phone"] %></p>
                    <p><strong>Contact 1 Email:</strong> <%= location.more_contacts["contact_1_email"] %></p>
                    <hr />
                    <p><strong>Contact 2 Name :</strong> <%= location.more_contacts["contact_2_name"] %></p>
                    <p><strong>Contact 2 Departement:</strong> <%= location.more_contacts["contact_2_departement"] %></p>
                    <p><strong>Contact 2 Phone:</strong> <%= location.more_contacts["contact_2_phone"] %></p>
                    <p><strong>Contact 2 Email:</strong> <%= location.more_contacts["contact_2_email"] %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
