<h1 class="page-header">Show location</h1>
<label>Name :</label>
<p><%= @location.name %></p>

<label>Address :</label>
<p><%= @location.address %></p>

<label>City :</label>
<p><%= @location.city %></p>

<label>State :</label>
<p><%= @location.state %></p>

<label>Zipcode :</label>
<p><%= @location.zipcode %></p>


