<div id="sidebar-wrapper">
  <ul class="nav nav-sidebar">
    <% if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %>
      <li><%= link_to "Manage Clients", clients_path %></li>
      <li><%= link_to "Manage Locations", locations_path %></li>
      <li><%= link_to "Manage BA", brand_ambassadors_path %></li>
      <li><%= link_to("Manage ISMP", ismp_index_path) if current_user.has_role? :admin %></li>
      <li><%= link_to("Manage Default Values", edit_default_value_path(DefaultValue.first)) if current_user.has_role? :admin %></li>
      <li><%= link_to("Manage Email Template", email_templates_path) if current_user.has_role? :admin %></li>
    <% end %>
      <li><%= link_to "My Assignments", assignments_path if current_user.has_role?(:ba) %></li>
      <li><%= link_to "My Statements", my_statements_path if current_user.has_role?(:ba) %></li>
      <li><%= link_to "Set Availability Date", manage_available_dates_path if current_user.has_role?(:ba) %></li>
      <li><%= link_to "Reporting", reports_path %></li>
      <li><%= link_to "Invoicing", invoices_path  if current_user.has_role?(:admin) || current_user.has_role?(:ismp) %></li>
      <li><%= link_to("Export Data", export_data_reports_path) if current_user.has_role? :admin %></li>
      <li><%= link_to("Terrorities", territories_path) if current_user.has_role? :admin %></li>
      <li><%= link_to("Product Library", "http://flavorfanaticsism.weebly.com/", {target: "_blank"}) if current_user.has_role?(:ba) %></li>
  </ul>
</div>
