<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "In Store Marketing" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "In Store Marketing" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
      <div class="container-fluid">
          <div class="row">                      
            <%= render "layouts/sidebar" %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <% flash.each do |name, msg| -%>
                <%= show_flash_message(name, msg) %>
              <% end -%>              
                            
              <%= yield %>
            </div>          
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>